[2014-03-02 02:59] dbox opened #18 "large-format font size consistency regardless of item count"
Just putting this here so I don't forget. `.large-format` font-size is currently only optimized 7 items. Need to rework it so it is consistent no matter how many icons there are.

[2014-05-02 21:52] dbox opened #39 "Sites Using RRSSB"
Business Insider:
http://www.businessinsider.com/share-of-iphone-ownership-in-the-us-2014-5#!HlFqK

Anyone else seen it around the web yet?

[2014-08-06 18:28] dbox opened #47 "Next feature: Meta attributes as variables"
The next thing we'd like to add is a way to edit all the meta attributes across all the services as variables.

It seems all the services use something from this list (Am I missing any?):

`$shareUrl`, `$shareEmailSubject`, `$shareEmailBody`, `$shareImage`, `$shareDescription`, `$shareDescriptionEncoded` (could be done auto .. too much?)

Some of these may need to be changed on a page by page basi

[2014-11-03 02:16] duvillierA opened #61 "Semantic Versioning"
Hey guys,

First of all, Thanks you for this project and make it better everyday.

In the meantime, i'll like to warn you about the versioning.
Four days ago, you pushed an update from 1.6.0 to 1.6.4. It should have mean patches commits, but actually you have made some important changes like the name of the class.

Could you the next time use a [Semantic Versioning](http://semver.org/)?

Thanks.

[2014-11-05 20:41] alan-reed opened #64 "WP License Issue"
rrssb is licensed "Creative Commons Attribution-ShareAlike 4.0 International license". Wordpress requires a GPL-Compatible license for all plugins in their repository. As a result, WP removed the rrssb plugin. Can rrssb's license change to be GPL-Compatible?

[2014-11-08 01:08] jackpilowsky opened #65 "Facebook Share shows 500 Internal Error"
I'm working on a site that doesn't have an SSL.

The URL is dynamically populated. When I add https to the URL, it displays the correct info(but the link back to the site doesn't work because HTTPS is not available on the server). When I switch it back, I get the 500 internal error again.

[2014-11-20 19:55] deronsizemore opened #68 "Possible to pass title, body and subreddit into the reddit share?"
I'd like to be able to pass that info into the submit page when someone shares on reddit.

Thanks

[2014-12-09 17:54] socialmediawithpb opened #71 "When clicked on 'Email' it opens 2 windows"
Hi,

When clicked on the email button, it opens up the email compose window and another smaller untitled blank browser window.

[2015-01-08 21:14] lsproc opened #72 "Support for Buffer"
Please can you add support for Buffer?

https://bufferapp.com/extras/button

Thank you!

[2015-01-11 00:56] BornALegend opened #74 "Where are the remaining icons?"
When I add the icons that put inside of the wikipage for the plugin, they work perfectly fine. I attempted to copy and paste the other icons outside of email, facebook and twitter. But, they are showing up without the css and in list form. Can you post all of the svgs for the icons on your landing page?

[2015-01-11 01:34] BornALegend commented on #74
I found them in the icons folder. Sorry.

[2015-01-11 01:34] #74 closed

[2015-01-16 03:25] simonv4549 opened #75 "Not rendering correctly with multiple instances"
I came across an issue where on mobile the button text would wrap, I thought it may have been something that I had done by mistake while I was customizing so I thought I would revert everything back to your code from the demo page. But the issue still exists, and the strange thing is if I add a 2nd instance of your code the 1st instance then works perfect. If I add 3 or 4 instances the first X wor

[2015-01-19 21:53] simonv4549 commented on #75
Does anyone still maintain this script? I found the text wrapping issue as it was a CSS conflict with word-wrap used in the template.

But I still have the issue where if more than one instance is shown the last instance does not render the same as the other instance. Does anyone else have this issue? At certain screen widths the last instance the buttons change size at different intervals.

[2015-01-20 04:00] dbox commented on #75
I looked at your page. Seems to be all good?

[2015-01-20 16:11] evilebottnawi opened #76 "support less"
How about implementing support for less

[2015-01-24 06:33] #61 closed

[2015-01-24 06:34] dbox commented on #71
Make sure you don't have class "popup"

[2015-01-24 06:34] #71 closed

[2015-01-24 06:36] dbox commented on #64
@joshuatuscan I can't remember where we landed on this one...

[2015-01-25 00:46] simonv4549 commented on #75
This is still an issue, Please can you look into it further.

If you view the page http://www.certforums.com/pages/rrssb/ at certain resolutions you will see the issue I have added 3 instances so you can see its always the final instance that it happens.

Use google chrome with mobile inspector and use Google Nexus 4 as the device and you will see the issue.

![screen](https://cloud.githubusercont

[2015-02-16 16:55] jodosha opened #78 "Support for HackerNews"
Hello there, thank you for this great tool.
I'm planning to use it for http://lotusrb.org blog.

Is it possible to have a button for HackerNews? That would be :sparkles: perfect :sparkles: .

Thank you in advance.

[2015-02-17 00:26] simonv4549 opened #79 "Not rendering correclty"
Hey, you closed my issue without fully looking into it, can you please take a further look: https://github.com/kni-labs/rrssb/issues/75

[2015-02-18 02:05] dbox commented on #75
@simonv4549 i can't replicate it on the example you provided

[2015-02-18 02:43] simonv4549 commented on #75
Well Im at a loss has to how you cant see this and I have multiple confirmations from others that it happens. I happens even within the browser when resized and I checked with the latest version of FF and Chrome on Mac and IE11 and FF on Windows and I can see it by resizing the window to a narrow viewpoint. Plus using the Chrome Mobile Emulation everyone I have asked to test it can see it happenin

[2015-03-06 15:32] leandroruel opened #81 "Whatsapp button"
please, would be great a whatsapp button too!

[2015-03-06 18:43] QWp6t commented on #81
:laughing:

[2015-03-06 19:16] leandroruel commented on #81
???...

[2015-03-09 13:57] rimkashox commented on #39
I'm using them with rails here: http://www.emergencynumbers.org

Here's a how to for rails:

In your Gemfile at the top you add:

source 'http://rails-assets.org'

And somewhere below:

gem 'rails-assets-RRSSB’

In application.js you add:

//= require RRSSB

And finally in application.css you add:

*= require RRSSB

Then your buttons will be working :-)

[2015-03-13 04:10] daviddelahoz opened #82 "Slow performance on mobile devices"
Using this plugin in one of my projects I discovered a problem with the jQuery(window).resize, the performance its affected because this callback seems like its continued called in mobile devices while scrolling or swiping the screen. By the moment I solved the problem commenting this part of the code.

[2015-03-24 17:34] canerkoroglu commented on #81
i've added how can i share with this project?

[2015-03-27 16:17] peschee opened #83 "Dropbox links to examples missing"
Hi

The two files linking to the min and max versions (as screenshots) seem to be missing:

- https://www.dropbox.com/s/2k6lcebg2887ge3/Screenshot%202014-02-18%2009.45.45.png
- https://www.dropbox.com/s/1juq03011lixk3r/Screenshot%202014-02-18%2009.43.57.png

[2015-03-28 19:39] aicarlson commented on #65
Is the URL properly encoded? Your site doesn't need to have an SSL in order to get the Facebook popup to work.

[2015-03-28 20:56] aicarlson commented on #79
I was able to replicate this as well. If you have multiple identical instances of RRSSB on a single page with the same number of buttons each (there must be enough buttons to trigger the small layout - eg: 7 buttons), the last instance will not catch the small layout and will keep the square buttons with the exception of the first button, which stays wide.

I haven't resolved the issue yet, but I

[2015-03-28 21:02] aicarlson commented on #82
What mobile browsers/devices have you noticed this on? I haven't seen it on iOS or Android and there isn't anything in the code to support the callback being called on scroll.

[2015-03-30 04:13] simonv4549 commented on #79
Thank you, Im still stuck with this issue and have no fix either. The developer says he cannot replicate it and closed my previously opened issue as a non issue but the more people that can report it the more chance of it being looked at further.

Further information on the issue in the issue can be found here: https://github.com/kni-labs/rrssb/issues/75

[2015-03-30 20:26] tmaiaroto commented on #75
I see the same thing. The first share button, regardless of which one it is, does not size properly. It includes the text when it shouldn't.

[2015-04-01 22:18] felixwerner opened #84 "svg in demo not html w3c valid"
just noticed while validating with the w3c validator their are duplicate ids in the svg tag.
should be easy to remove them.

[2015-04-07 14:10] egeekial opened #86 "Fixed width for small icons not working"
If I try to wrap the ul in a fixed-width div to get smaller icons as per the instructions, I get large icons which wrap to the next line. I have tried previous releases and the current version with the same result.

[2015-04-08 21:29] leandroruel commented on #81
make a push maybe

[2015-04-08 21:58] aicarlson commented on #81
@canerkoroglu You can fork the project and then submit a pull request with the changes that you've made.

[2015-04-08 21:59] aicarlson commented on #84
The patch was merged. This issue can be closed.

[2015-04-09 01:42] #86 closed

[2015-04-13 15:40] #47 closed

[2015-04-13 15:52] #72 closed

[2015-04-13 15:53] dbox commented on #83
fixed one of them. No idea where the other one went. Removed link.

[2015-04-13 15:53] #83 closed

[2015-04-13 15:53] dbox commented on #76
Not on the roadmap at this time. Sorry.

[2015-04-13 15:53] #76 closed

[2015-04-13 15:53] #65 closed

[2015-04-13 15:54] dbox commented on #64
@b2z So what are you recommending we use? We just don't want people to be able to release RRSSB as a paid plugin by itself. Totally fine for you to build into templates or w/e.

[2015-04-13 15:55] #84 closed

[2015-04-13 15:55] aicarlson commented on #68
As far as I can tell you can't pass the subreddit through a Reddit share because Reddit validates the subreddit before the submission process. I'll write something for passing the title and text later today.

[2015-04-13 15:56] dbox commented on #79
Sorry for closing. If @aicarlson was able to replicate, then it must be legit!

[2015-04-13 15:56] dbox commented on #82
Anyone else able to reproduce?

[2015-04-14 02:52] dbox commented on #18
Finally fixed this one.

[2015-04-14 02:52] dbox commented on #78
@jodosha. It's in thanks to @aicarlson

[2015-04-14 02:52] #78 closed

[2015-04-14 02:57] dbox opened #92 "Vote: Grunt / Gulp"
Back when we set this up, we were using Codekit to compile Sass, but I personally haven't used it for any other projects for over a year now.

Thinking we should probably set up Grunt or Gulp. I've used Gulp a bit, but happy to do whichever the group prefers.

[2015-04-14 03:21] dbox commented on #64
@alan-reed @b2z Switched to MIT License

[2015-04-14 03:21] #64 closed

[2015-04-14 03:48] #18 closed

[2015-04-14 03:49] dbox commented on #68
Thats up

[2015-04-15 23:37] daviddelahoz commented on #82
Sorry, I didn't mention the slow performance occurs per example when I have some posts and them have the social buttons. Its like if I put the RRSSB bar repeated and that affect the page performance on the device.

Tested on iOS.

[2015-04-16 00:54] dbox commented on #82
Can you post an example page?
On Wed, Apr 15, 2015 at 6:37 PM daviddelahoz <notifications@github.com>
wrote:

[2015-04-20 13:19] MorrisDa commented on #81
Svg for whatsapp icon:
[code]
The color for the ```<a>``` tag could be ```background: rgb(100,212,72)```,
and when hovered could be something like: ```background: rgb(81,170,58)```

The following version is quite hardcoded, but could be useful to implement the whatsapp button in rssb:
[code]
Sorry for not sending pull request

[2015-04-20 14:03] dbox commented on #81
I've never seen Whatsapp grouped with other sharing buttons. Is it a common thing to share content to what's app? Is there even a sharing url associated with the service? Or is it all app-based?

[2015-04-20 15:05] MorrisDa commented on #81
From some mobile devices (Android for sure) you can do something like this (from browser obviously):
[code]
If you have whatsapp installed it should open the application and ask you the contact you want to share the resource with.

It seems someone wondered it before: <a href="http://stackoverflow.com/questions/21935149/sharing-link-on-whatsapp-from-mobile-website-not-application-for-android">Stac

[2015-04-20 15:14] aicarlson commented on #81
Looks like if you utilize the data attribute `data-action="share/whatsapp/share"` it gets relatively good cross-device support with iOS and Android.

The only issue I see with this is that it won't do anything on desktop and in my opinion we shouldn't be trying to sniff the User-Agent to determine what buttons to show/not show.

[2015-04-20 15:26] MorrisDa commented on #81
@aicarlson that's up onto owners of the repo i think.
I personally think that the button is useful as per se, it could be included for completeness specifying that it's developer's task to show or not show it in their website!

[2015-04-20 15:29] dbox commented on #81
I guess i'm failing to see what the intended action is.

Would this be a typical workflow?

1. Implement RRSSB on a content page (lets say a blog.)
2. User clicks whats app button.
3. button links to a specific app (and does nothing on desktop)?

If that's the intended flow, I'm not sure it currently falls into the scope of this project, nor do I think there is currently the demand to include it.

[2015-04-21 01:22] fbm-static opened #93 "What happened to the wordpress plugin?"
It got deleted.

[2015-04-21 03:28] QWp6t commented on #93
It should hopefully be back soon, now that the code uses MIT license.

But to answer your question: https://github.com/kni-labs/rrssb/issues/64

[2015-04-21 07:49] simonv4549 opened #94 "rrssb-icon span out of container"
I came across and issue in that the button icon span "rrssb-icon" when the button is medium size overlaps below the button and so can overlap content below the buttons and also invokes the hover action. You can see the issue on your demo site and also in the images attached.

![overlap](https://cloud.githubusercontent.com/assets/8165138/7247586/4a1966fa-e835-11e4-80e5-911f3ba39f7a.gif)

Highlighte

[2015-04-21 14:06] dbox commented on #94
Nice catch!

[2015-04-21 23:27] fbm-static commented on #64
Hello, @alan-reed I hope you can bring the plugin back to da wordpress directory.

[2015-04-22 03:21] alan-reed commented on #64
Thank you to kni-labs for changing the license. I need to update the
Wordpress plugin with the latest RRSSB code and then resubmit it to
Wordpress. Hopefully I will have a chance to work on it sometime soon.

On Tue, Apr 21, 2015 at 7:27 PM, Xof Nagem <notifications@github.com> wrote:

--
_________
Alan Reed

pub: https://pgp.mit.edu/pks/lookup?op=get&search=0x883581C543909213
<http://pgp.mit.edu/

[2015-04-22 11:22] fbm-static commented on #64
Thank you @alan-reed Good day!

[2015-04-22 11:22] fbm-static commented on #64
:sparkles:

[2015-04-22 20:00] reezom commented on #81
:+1:
I already picked up @MorrisDa svg. (Thanks!)
Regarding demand: http://qz.com/179261/people-are-already-sharing-more-buzzfeed-stories-to-whatsapp-than-to-twitter/

[2015-04-22 20:13] aicarlson commented on #81
FWIW, Buzzfeed appears to be sniffing the User Agent. The WhatsApp button doesn't appear on desktop and their site isn't responsive so it's not showing on desktop unless you switch your UA to a mobile device, or just open it up on a phone/tablet. If clicked on desktop, it either doesn't do anything or goes to an error page as I mentioned above.

If it was included in `master` users should probably

[2015-04-23 14:07] dbox commented on #81
Ah. Much clearer now. Thanks.

If it's truly one of the most clicked sharing buttons, part of me thinks it's okay to include it. But, since the main goal is to be "ridiculously responsive", I'm not sure having one that doesn't work on desktop at all fits the premise.

Not sure..

[2015-04-24 04:31] aicarlson commented on #92
I have more experience with Grunt, but I'm open.

[2015-04-24 04:39] aicarlson commented on #81
On one hand, I think the argument could be made that it should be up to whoever is implementing the plugin to decide whether to include a button that doesn't work on desktop.

On the other hand, one of leading point of responsive design is to provide a usable, friendly design across all devices and UA sniffing isn't generally recommended in the responsive design process.

I don't know.

[2015-04-24 04:42] dbox commented on #81
This thread will be searchable and anyone who wants to add it, can easily do so.

Not adding for now.

[2015-04-24 04:42] dbox commented on #94
Fixed!

[2015-04-24 04:42] #94 closed

[2015-04-24 23:19] connorwyatt opened #95 "Version in Bower.json Needs Formatting"
The semver needs changing from "**1.76**" to "**1.7.6**" in the bower.json file.

The error is stopping me from doing a bower install to install v > 1.7.

[2015-04-24 23:20] connorwyatt commented on #92
Gulp generally runs quicker than grunt ;)

[2015-04-25 07:06] dangelov commented on #95
Just tried to install this via bower as well, got the same error.
`bower error         Invalid Version: 1.76`

[2015-04-25 11:18] dbox commented on #95
@connorwyatt, @dangelov Should be fixed. Let me know if that works. Sometimes takes a little bit to propogate to bower.

[2015-04-25 14:22] dangelov commented on #95
@dbox Thanks for looking into this and fixing it so promptly. I did try a `bower --force update`, but it appears the archive it tries to download (`https://github.com/kni-labs/rrssb/archive/1.7.6.tar.gz`) still contains the `1.76` version string.

[2015-04-25 15:31] dbox commented on #95
Ah. I need to update the release. Will do later today.
On Sat, Apr 25, 2015 at 9:22 AM Dino Angelov <notifications@github.com>
wrote:

[2015-04-26 01:26] dbox commented on #95
Created a new release. hopefully that fixes it.

[2015-04-26 11:41] dangelov commented on #95
I think the tags are still bad. Asking for version 1.7.6 still downloads the old archive that has `1.76` in it.

But then, asking for `1.76` via bower correctly installs version `1.7.6`. If you see from the attached screenshot, release `1.7.6` says it's 1 commit behind master, even if it says "corrected version number".

![screen shot 2015-04-26 at 13 39 32](https://cloud.githubusercontent.com/ass

[2015-04-27 02:36] dbox commented on #95
haha. BOWER!!!

okay just did a whole new release and went to 1.7.7 just to try to get it to work.Let me know if THAT one works.

As a side note, when the bower file was created it added as `RRSSB` instead of `rrssb`. Which is against protocol. It appears the only choices are:

1. Unregister `RRSSB` then register a new one as `rrssb` (Would this negatively affect people who have it installed as up

[2015-04-27 09:26] dangelov commented on #95
There we go... worked nicely now. Thanks for fixing it up.

As for the uppercase naming, I'm just starting out with bower, not much of an experience to back up any of my suggestions. For what it's worth, I did manage to install rrssb easily, wasn't too hard to realize it asked for the uppercase name.

[2015-04-28 17:15] connorwyatt commented on #95
Sorted, thanks @dbox  :)

Nice project by the way :)

[2015-04-29 02:06] dbox commented on #95
@connorwyatt great. Thanks!

[2015-04-29 05:09] dbox commented on #92
Would anyone be up for setting up a simple browsersync / sass compiling gulp file so we can kick codekit to the curb? @aicarlson @connorwyatt

http://www.browsersync.io/docs/gulp/#gulp-sass-css this looks pretty good....

Ideally I'd like to start with it in  its own branch ie  `gulp` and not the `dev` branch

I imagine we'll need to do some folder structure modification too.

[2015-04-29 11:51] connorwyatt commented on #92
I can give you a gulp config file that you could modify, it runs real quick and I use SCSS, browsersync (as well as jade and other stuff) and it also watches for file changes and compiles the files when necessary.

I actually moved from codekit to grunt and then quickly onto gulp so I know the feeling :)

[2015-04-30 08:19] connorwyatt commented on #92
I've just started working on the gulp config, I'll keep you informed and create a pull request when I'm done

[2015-04-30 10:12] connorwyatt commented on #92
Completed, and I've added a PR. Let me know if you think something needs changing.

[2015-05-02 13:25] AdamPS opened #97 "TypeError: $ is not a function"
Version 1.7.5 commit "Added better calc detection and fallback support" added code that relies on the $ variable rather than the full equivalent jQuery.  This breaks best practice as per jQuery documentation http://learn.jquery.com/plugins/basic-plugin-creation/#protecting-the-alias-and-adding-scope.  In my case it breaks compatibility with Drupal and https://www.drupal.org/project/rrssb.

[2015-05-02 13:29] dbox commented on #97
Hey Adam. Thanks. Could you do a pull request?
On Sat, May 2, 2015 at 8:25 AM AdamPS <notifications@github.com> wrote:

[2015-05-02 13:37] AdamPS commented on #97
Hi thanks for a quick response.  Sorry I don't use Git/GitHub, and have limited jQuery knowledge (just did a bunch of searches to figure out the above).  I haven't fixed the bug myself, I just went back to the older version.  I'm happy to try to help out if there something I can do bearing the above in mind.  E.g. I can test a new version of the file.

[2015-05-02 19:05] QWp6t commented on #92
Gulp is undeniably better. There is no reason to use grunt anymore. This wasn't the case a year or two ago when gulp was still new, but at this point gulp has all the same offerings as grunt.

You can feel free to use the [gulpfile.js from Sage](https://github.com/roots/sage/blob/master/gulpfile.js) if you'd like. Although the project is a WordPress theme, there is nothing WordPress-specific about

[2015-05-02 20:28] dbox commented on #92
Thanks @QWp6t. I just merged @connorwyatt 's gulp setup up. I wont be able to merge into master until tonight but feel free to check it out from `dev` branch.

[2015-05-03 04:53] #97 closed

[2015-05-03 05:03] dbox commented on #92
Gulp it is! Thanks again @connorwyatt . I think we may want to change our directory structure in the future to have `assets` and `dist` folders, but I'll start a new thread for that.

[2015-05-03 05:03] #92 closed

[2015-05-03 05:06] dbox commented on #95
re-registered as `rrssb` leaving both for now

[2015-05-03 05:06] #95 closed

[2015-05-03 05:07] dbox commented on #82
Closing due to inactivity

[2015-05-03 05:07] #81 closed

[2015-05-03 05:08] dbox commented on #79
@aicarlson Is this still an issue?

[2015-05-03 07:30] simonv4549 commented on #79
Yes its still an issue as aicarlson and I described here and also tmaiaroto in https://github.com/kni-labs/rrssb/issues/75.

[2015-05-03 07:51] AdamPS commented on #97
Fix works for me, thanks very much.

[2015-05-03 14:10] dbox commented on #75
@tmaiaroto Have a chance to look into this?

[2015-05-03 14:11] dbox commented on #75
//cc @aicarlson

[2015-05-03 14:52] aicarlson commented on #75
This weekend is tight, but I'll look into it further as soon as I can.

[2015-05-03 15:20] dbox commented on #75
Np. Thanks!
On Sun, May 3, 2015 at 9:52 AM Andrew Carlson <notifications@github.com>
wrote:

[2015-05-03 15:47] connorwyatt commented on #92
You’re welcome, and that shouldn’t take much work, the gulp file is quite straight forward and would only require a rewrite of filenames and destinations.

If I get some time I’ll have a look at it but I’d need to know what you plan is for organisation :)

[2015-05-06 12:44] outboxvision opened #101 "Facebook meta graphs not working"
Great plugin!

I've added the facebook meta tags as in your example but it still gets random content from the page especially on the image thumbnail part:

Here's how the head code looks like:
[code]
I'm more interested in the image part, why it doesn't retrieve the image I've specified?
Any idea how can I force to retrieve the image I want?
Thank you!

[2015-05-06 13:16] dbox commented on #101
Can you post a link to your page or a second page?
On Wed, May 6, 2015 at 7:44 AM Alexandru Giuseppe Ispas <
notifications@github.com> wrote:

[2015-05-06 13:40] outboxvision commented on #101
Sure, here it is: http://likeable.ro

[2015-05-06 15:56] #101 closed

[2015-05-06 19:33] dbox commented on #101
looks like you got it

[2015-05-12 15:32] AdamPS opened #102 "Handling SVG not supported"
SVG is not supported in approx %5 of browsers (http://caniuse.com/#feat=svg).  Do you have any ideas for providing a fallback?  Thanks.

[2015-05-12 19:46] dbox commented on #102
You could always [serve pngs as the fallback](https://css-tricks.com/svg-fallbacks/), but svg support was a requirement for this project since the beginning. [We](http://www.kurtnoble.com) haven't supported ie8 in years, and I really don't want to add the bloat for this.

[2015-05-13 08:05] AdamPS commented on #102
Nice portfolio on your website!  I agree IE8 is low priority, but would prefer to degrade gracefully where possible.  At the moment it seems fairly messy and not very easy to use.

On my test server I have it roughly working as follows:
- Detect SVG support with javascript adapted from Modernizr and if not set a class on <html>
- If no SVG: disable responsive scripts (hiding the text is not helpin

[2015-05-13 13:59] dbox commented on #102
Thanks @AdamPS. I'd be happy to look at what you've done just from a curiosity standpoint.

Also, have you looked at the stats specifically on the site(s) you're thinking of deploying RRSSB? I'd be curious to see those ie8 numbers. Every site we've ever deployed has WAY lower percentage on ie8 (basically nonexistent) than those worldwide numbers.

[2015-05-13 15:13] AdamPS opened #103 "SVGs might be better not in the HTML?"
Recently there have been several articles with lots of clever ideas for other ways to handle SVGs.  The key benefit I see is page-loading speed.  I wonder if it would be worth improving RRSSB along these lines - well at least I can explain my reasoning and you can see what you think.  It would not change the JS, would simplify the index.html, and move the corresponding SVG code to an SVG/CSS file.

[2015-05-19 23:45] joshuatuscan commented on #103
We did it this way so that the color of the icons can be easily determined by CSS. As far as I know that isn't possible with sprites or referencing external files. While we currently only have each icon being white, users of this project could potentially modify any piece of the SVG with CSS. This makes the project much more customizable. Also, I don't think some extra text in the HTML file is con

[2015-05-20 14:30] dbox commented on #103
Hey @AdamPS, thanks for your thoughts!

Rrssb is extremely lightweight. The inline svgs are minified. IMHO performance/size is a non-issue, especially considering the tradeoff.

For now I'd prefer to stick with the svgs in the html for a few reasons:

- *ease of installation*: Not having to deal with actual image files is awesome, plus the new minified svg content makes copy/paste even easier.
- *

[2015-05-20 15:55] fabean opened #104 "gulp doesn't update rrssb.min.js"
If I make changes in the js and run gulp, or let gulp run on watch it doesn't actually re-minify my js changes.

To test I completely emptied by rrssb.js and saved it.
![screenshot 2015-05-20 10 48 29](https://cloud.githubusercontent.com/assets/3298524/7730088/df41ad1e-fedd-11e4-94fd-b81d866d4920.png)

I ran gulp
![screenshot 2015-05-20 10 48 55](https://cloud.githubusercontent.com/assets/3298524/

[2015-05-20 15:56] dbox commented on #104
paging @connorwyatt

[2015-05-20 17:57] connorwyatt commented on #104
Okay, I'll have a look at it now, will get back to you when I find out what's going on :)

[2015-05-20 18:00] connorwyatt commented on #104
Can see the problem, it was a foresight on my part, correcting it now

[2015-05-20 18:32] dbox commented on #104
Awesome! Thanks @connorwyatt!

@fabean I can't test it right now. Could you pull down `dev` branch and make sure that fixes your issue?

[2015-05-20 18:34] connorwyatt commented on #102
@AdamPS If you really want to support PNG fallbacks then I recommend you try [SVGInjector](https://github.com/iconic/SVGInjector).

You will need to create the PNG versions yourself, and then you can use the SVG injector to inject the SVG then use a conditional (using Modernizr) on the PNG fallback.

[2015-05-20 18:34] connorwyatt commented on #104
@dbox You're welcome :)

[2015-05-20 18:36] connorwyatt commented on #103
As I recommended in another issue, maybe try using [SVGInjector](https://github.com/iconic/SVGInjector), then you can use AJAX requests to get your SVGs and it is quite a small and simple js library :)

[2015-05-20 18:40] dbox commented on #104
@connorwyatt SO FAST

[2015-05-20 18:42] connorwyatt commented on #104
@dbox Haha caught me at a good time :)

[2015-05-20 18:42] fabean commented on #104
So still didn't work for me, maybe I'm just crazy?

I did up doing this copying what was happening for imagemin and it started working for me.

[code]

[2015-05-20 18:44] connorwyatt commented on #104
Try checking out the dev branch and see if it works, it's not currently in the master

[2015-05-20 18:45] dbox commented on #104
Yeah, if you can confirm working on `dev` branch @fabean I'll merge them site unseen. :)

[2015-05-20 18:48] fabean commented on #104
I am on dev branch. I see the changes made help with the actual watch `gulp.watch(["js/*.js", "**/*.min.js"], ['uglify']);` but I'm thinking the issue is with the uglify task itself.

Here are the changes I made to the gulpfile.
![screenshot 2015-05-20 13 47 29](https://cloud.githubusercontent.com/assets/3298524/7733748/caefeac4-fef6-11e4-89c5-27f3b0eec55f.png)

I add a console.log to the bottom o

[2015-05-20 18:50] connorwyatt commented on #104
Yeah I have the same issue, I'm about to go out and then I'll rewrite it.

It is sometimes working and sometimes not, so I'll sort it.

Apologies

[2015-05-20 18:51] dbox commented on #104
:beers: :computer:

[2015-05-20 18:52] fabean commented on #104
No worries, I'm happy with the fast responses! And I already minified it myself hours ago so it's not like I'm waiting on a bug fix to continue working.

[2015-05-20 19:01] connorwyatt commented on #104
That's good, should have it fixed within the hour
On 20 May 2015 19:52, "Josh Fabean" <notifications@github.com> wrote:

[2015-05-20 19:05] connorwyatt commented on #104
Such a silly mistake. I didn't even call uglify on the js file...

I don't know why it was working for me at one point though?

Once I get home I'll add it in.
On 20 May 2015 20:01, "Connor Wyatt" <connorwyatt1@gmail.com> wrote:

[2015-05-20 20:06] dbox commented on #104
Thanks @connorwyatt . @fabean Can you confirm this working? and I'll get it into `master`

[2015-05-20 20:07] connorwyatt commented on #104
@dbox You're welcome, I'll try and get it into one command again soon so that you can just run gulp instead of needing to run gulp watch as well

[2015-05-20 20:08] dbox commented on #104
love it. thanks

[2015-05-20 20:11] fabean commented on #104
Works for me if I run `gulp watch`

[2015-05-20 20:16] dbox commented on #104
All good? Gunna close and push into master

[2015-05-20 20:17] fabean commented on #104
Yes, works for me off first run and off watch. Thanks @connorwyatt & @dbox

[2015-05-20 20:21] connorwyatt commented on #104
@fabean Glad I could be of help.

@dbox I think it's ready to go :+1: :)

[2015-05-20 20:28] connorwyatt commented on #104
@dbox Would you be able to merge the new dev branch changes into the 2.0 branch and I'll take a look at adding a count?

[2015-05-20 20:31] dbox commented on #104
Should be good to go.

[2015-05-20 20:31] #104 closed

[2015-05-20 20:32] dbox opened #112 "npm install"
Is npm install something people would like to see?

[2015-05-20 20:32] dbox commented on #93
Ping!

[2015-05-20 21:12] connorwyatt commented on #104
Awesome thanks

[2015-05-21 02:28] #39 closed

[2015-05-21 13:43] connorwyatt commented on #112
Personally I only use npm for dev tools like gulp and then bower for any front end dependencies. I think a lot of people use it that way and it might not get used, I personally wouldn't unless you get mass demand :)

[2015-05-21 13:44] connorwyatt commented on #103
@dbox Would you like to see this in 2.0? I am putting the html in the js file but I could use ajax to load the icons? What do you think?

[2015-05-21 13:45] dbox commented on #103
I think it'd be much easier to implement without having to deal with images and image paths, plus we lose some of the customization.

[2015-05-21 13:48] connorwyatt commented on #103
So you think we should hard code them in rather than ajax loading them?

By the way when I say ajax load I just mean that you would put in the options iconLocation: "/images/rrssb/" for example, and then the icons would be in that folder and the script would load them from the icons folder.

If you want to change the svg you can just alter the svg file and it will be loaded with the changes next t

[2015-05-21 13:50] dbox commented on #103
I know but you can't recolor them via css if they are linked images ...
On Thu, May 21, 2015 at 8:48 AM Connor Wyatt <notifications@github.com>
wrote:

[2015-05-21 13:52] connorwyatt commented on #103
You can, you just inject the raw html so it is svg elements

If you just use image tags with the image path as the src then you can't though

[2015-05-21 13:52] dbox commented on #103
But maybe this is super rare use case. And if someone wants to recolor then
they do so in the actual svgs....
On Thu, May 21, 2015 at 8:50 AM Daniel Box <danielbox@gmail.com> wrote:

[2015-05-21 13:53] connorwyatt commented on #103
Fair enough, I'll leave it out then?

[2015-05-21 14:20] dbox commented on #103
May need to hear @joshuatuscan's thoughts, but I think I might be having a change of heart on this issue based on the new plugin style call referenced in #49.

In the current setup, you manually include or exclude `<li>`s, which means the browser wont load unused icons.

The 2.0  setup reverses this though. If svgs were hard-coded, the JS would have a lot of unnecessary icon bloat right? Vs images

[2015-05-21 14:45] connorwyatt commented on #103
Yeah you're right, the icons would have to be in the js file if they arent loaded by ajax.

You wouldnt lose the ability to style icons though by using ajax to include them, they would still be svg elements in the dom rather than an img tag.

On my site http://connorwyatt.io, which has just gone up so I can show you, the logo in the top left next to Connor Wyatt is injected via ajax and if you add

[2015-05-21 14:49] dbox commented on #103
Wait, you're saying you can ajax-load the inline svgs?

[2015-05-21 14:49] connorwyatt commented on #103
Yeah exactly :)

[2015-05-21 14:51] dbox commented on #103
So in this scenario:
 - No extra icon bloat
 - Icons still editable via css
 - No need to bother with an image folder

Correct?

[2015-05-21 14:52] dbox commented on #103
Or you'd still have to have the image folder, but the ajax would just be referencing it and writing it out as inline?

[2015-05-21 14:53] connorwyatt commented on #103
Exactly because you can:

- Leave the SVGs in files.
- They are still inline so CSS rules still work.
- You could load the SVGs either from a CDN (e.g. GitHub), or from a folder in the site if you prefer (e.g. the bower_components folder or in the images folder). You could have a choice between local or CDN SVGs then.

[2015-05-21 14:54] connorwyatt commented on #103
Yeah exactly but you could have a CDN if you wanted because github allows you to access the raw files like this: https://raw.githubusercontent.com/kni-labs/rrssb/master/icons/facebook.min.svg

[2015-05-21 14:54] connorwyatt commented on #103
You would have to keep the icons the same though or the users' links would break

[2015-05-21 14:55] connorwyatt commented on #103
Up to you which you think is best

[2015-05-21 14:56] connorwyatt commented on #103
I don't know whether that would be disallowed due to same domain issues though?

[2015-05-21 15:02] dbox commented on #103
So, one of my main arguments before to not linking to the SVGS, was, in the current setup you don't even need the images in your folder structure.

But now, the tradeoff now boils down to:

Ability to change the white icon vs css
vs
Slight performance issues listed above by @AdamPS (mostly when used for multiple instances on one page, which also is rare)

Correct?

[2015-05-21 15:04] connorwyatt commented on #103
Kinda but there is no tradeoff because you can still style them with CSS and you get the performance benefits

[2015-05-21 15:04] dbox commented on #103
But not the caching right?

[2015-05-21 15:06] connorwyatt commented on #103
I think you would still get the caching because ajax has a setting to turn it off with jquery: http://api.jquery.com/jquery.ajax/ - Look for the cache setting

[2015-05-21 15:12] dbox opened #113 "rrssb 2.0 outline"
- New dev folder structure: `/assets`, `/dist`
- Ajax loading of inline svgs
- New plugin style JS call w/ options
- Total counts per #49

Obviously this is a major update and will have breaking changes. 1.x.x wil also still be available.

[2015-05-21 15:12] dbox commented on #103
Okay, perfect.

[2015-05-21 15:13] connorwyatt commented on #103
Awesome I'll write that in then :)

[2015-05-21 15:13] connorwyatt commented on #103
I'll use the 2.0 thread from now on

[2015-05-21 15:15] dbox commented on #75
Ideally would love to get this guy fixed before 2.0, so that the last version of 1.x.x is super stable as well.

[2015-05-21 15:17] connorwyatt commented on #75
I see, I can't replicate this issue, might have another look at some point

[2015-05-21 15:18] dbox commented on #102
@AdamPS Going to close this one. I looked at a lot of our analytics and the numbers were way less than 1%. Not really sure where the 5% figure is coming from.

Thanks!

[2015-05-21 15:18] #102 closed

[2015-05-21 15:20] connorwyatt commented on #102
Good call

[2015-05-21 15:20] dbox commented on #75
I never could either. @tmaiaroto or @simonv4549 can you put your test page back up and we'll give it another look. thanks!

[2015-05-21 15:21] #103 closed

[2015-05-21 15:22] connorwyatt commented on #75
Yeah that would help
On 21 May 2015 16:20, "Daniel Box" <notifications@github.com> wrote:

[2015-05-21 15:25] aicarlson commented on #75
Sorry guys, I fully intended to look into this further since I was able to replicate but I've just been slammed with work recently.

[2015-05-21 15:26] dbox commented on #75
:iknowthatfeel:

[2015-05-21 15:27] connorwyatt commented on #75
Could you replicate the issue?

[2015-05-21 15:27] dbox commented on #75
@aicarlson could, yes

[2015-05-21 15:40] aicarlson commented on #75
Alright, I don't have time to debug right now but the least I could do is set it up in an instance where this is an issue.

http://codepen.io/aicarlson/full/EjgvzW/

Chrome 43.0.2357.65 (64-bit) (This is what I'm in now, it happens in more browsers)
Mac OSX Yosemite

Reduce the screen size to ~400px and you'll see that the last row of icons resizes differently than the preceding 3 rows.

[2015-05-21 15:41] dbox commented on #75
Thanks @aicarlson

[2015-05-21 15:43] aicarlson commented on #75
It's the least I can do, sorry I can't be of more help! If you aren't able to replicate it on there let me know.

Date: Thu, 21 May 2015 08:41:46 -0700
From: notifications@github.com
To: rrssb@noreply.github.com
CC: aicarlson@outlook.com
Subject: Re: [rrssb] Not rendering correclty issue (#75)

Thanks @aicarlson

—
Reply to this email directly or view it on GitHub.

[2015-05-21 15:44] dbox commented on #75
I'm seeing it there.

[2015-05-21 15:45] connorwyatt commented on #75
Right I see too. This will need sorting as it will still be present in 2.0 otherwise

[2015-05-21 15:45] connorwyatt commented on #75
I'll take a look in a bit

[2015-05-21 15:51] connorwyatt commented on #113
By the way I've pushed my changes to my fork of rrssb and you can have a look if you like.

They dont resize yet because those functions arent in the file but I will add those in at some point

[2015-05-21 15:51] connorwyatt commented on #113
https://github.com/connorwyatt/rrssb/tree/2.0

[2015-05-21 15:52] connorwyatt commented on #113
There's no count yet either but that will be added

[2015-05-21 15:53] connorwyatt commented on #75
Me too

[2015-05-21 15:59] dbox commented on #75
@joshuatuscan Any ideas on this guy? (See @aicarlson's code pen a few posts up)

[2015-05-21 16:07] connorwyatt commented on #75
I might be able to find out what is wrong as im building 2.0 up incrementally, at the moment I have no idea though

[2015-05-21 18:01] AdamPS commented on #103
Great, thanks guys!

[2015-05-21 18:04] AdamPS commented on #102
OK, thanks for the analysis.  I guess I had been believing the numbers on caniuse without actually doing my own checking!

I'd been testing my own site through old browsers quite a lot whilst doing the development so my own numbers were no skewed.

[2015-05-21 19:41] AdamPS commented on #113
#103 ended with "I'll use the 2.0 thread from now on" so I'll pop a couple of questions / requests in here.  Context is that I use Drupal and have recently become a co-maintainer of the associated module https://www.drupal.org/project/rrssb.

General requests:
* Consider the "deliver mechanism".  Make it as easy as possible for downstream consumers to integrate changes.  Currently the index.html i

[2015-05-21 19:45] AdamPS commented on #113
Specific question.  I don't understand how you can both "use AJAX/CDN to get the SVG" and "avoid bloat of downloading unwanted buttons".  Surely the client side script will fetch the full SVG from the CDN?

What I had expected was that the SVG would reside on the server, and the CMS (Drupal/Wordpress) could then see which buttons are configured and only pull in the appropriate parts of the SVG.

S

[2015-05-21 19:45] AdamPS commented on #113
Many thanks for all the hard work!

[2015-05-21 19:52] connorwyatt commented on #113
To answer your final question first, each svg is downloaded separately and
only if the button is present so they aren't all downloaded, reducing the
bloat that would be required if all the svgs were included in the js script.
On 21 May 2015 20:45, "AdamPS" <notifications@github.com> wrote:

[2015-05-21 19:56] AdamPS opened #116 ""Moderately responsive SSB""
I realise it may seem counter-intuitive based on the name of the library, but I would be interested in options for less responsiveness.  Why do I not just go to a less-responsive library?  Well you guys have some of the most attractive and lightweight buttons I've been able to find.  Also I'd like to use one library everywhere, whether I need responsive or not.

* Personally I'm not so keen on hav

[2015-05-21 20:00] connorwyatt commented on #113
To answer your previous questions, you could use php to insert the values
by using php variables in the script tag in your HTML (not in a separate js
file as php won't run on it).

You can add your own buttons too but you will need to make an svg, and then
get the API URL for the social network. Then you can code it into the js
like the others. The reason it isn't easier is because they all have
d

[2015-05-21 20:05] connorwyatt commented on #116
This would be a separate project I think but I might be willing to take it
on in a week or so. If you have more ideas, add them in here
On 21 May 2015 20:56, "AdamPS" <notifications@github.com> wrote:

[2015-05-21 20:08] dbox commented on #113
"Consider the "deliver mechanism". Make it as easy as possible for downstream consumers to integrate changes. Currently the index.html is a manual integration into our PHP file. If you could deliver a PHP array that would be ideal (possibly you could use the PHP to make your index.html automatically). Taking the SVG out of index.html will be a big help in itself. The URLs in the PHP would ideally

[2015-05-21 20:13] AdamPS commented on #113
Well be careful with "each svg is downloaded separately" because I think it could impact the page load speed - each file to download adds an overhead: bytes sent to establish a new socket and also the socket transfers slowly when it starts up due to discovering the available speed.

Maybe better for the server to run the smarts and serve a single file containing the right icon set? Or at least all

[2015-05-21 20:14] AdamPS commented on #113
@dbox the plugin js call sounds good!

[2015-05-21 20:23] AdamPS commented on #113
Thanks again for listening.  One more general consideration: what about the fallback if scripts aren't enabled?  I think it ought to be at least some sort of list of buttons that are links and contain text.  This is potentially important for:
* search engines and bots
* screen readers
* older/low-end devices
* bugs/compatibility problems meaning scripts don't load

I gather that kni-labs write hig

[2015-05-21 20:24] AdamPS commented on #116
Great, thanks!

[2015-05-21 20:29] AdamPS commented on #113
It looks to me as if the the CSS is currently close to 500 bytes per button - nearly 50% of the SVG size.

Some other well-established social share solutions have around 100 buttons.

[2015-05-21 20:45] connorwyatt commented on #113
I agree with @dbox, no php will be used but you can use php to insert the
social networks into the js options. That would be up to you though.

I'll look into the overhead of establishing multiple connections but
without multiple connections it would need php or another server side
script to do the job.

Remember that with the CSS the base styles are most of the file, the
specific styles are only

[2015-05-21 20:50] connorwyatt commented on #113
I don't personally work with kni labs but I do work with websites with a
lot of js, and you'll be glad to know that seo is not a problem as google
now runs js and indexes.

For older devices, a simpler solution might be your best bet (e.g. the idea
you had in another thread about moderately responsive buttons).

I personally don't write code for old browsers, I just use a piece of code
that let's

[2015-05-21 20:52] connorwyatt commented on #113
By the way with regards to the fallback, the rrssb container gets emptied before adding the buttons (in the 2.0 I'm writing) so you could add a fallback in there and if the script runs it will remove the fallback

[2015-05-21 21:04] Marc-pi commented on #113
@AdamPS
you have great library to manage compat : modernizr, respond, html5shiv etc...
just use them. rrssb must work at state of art on stabilized techs.

yes, all serious search engines are reading now JS, google being at front of them

[2015-05-21 21:30] AdamPS commented on #113
Thanks all for continuing to listen.  I guess I'm a bit old fashioned on scripts - I'll bow to your wisdom.

Regarding the CSS size though please can you double-check?  I just tested and my result was that 67% of the file was the specific parts.  Presumably this number will increase over time as more buttons are added?

[2015-05-21 21:31] connorwyatt commented on #113
Apologies, I haven't looked yet, I will now
On 21 May 2015 22:30, "AdamPS" <notifications@github.com> wrote:

[2015-05-21 21:35] dbox commented on #113
We may be able to rewrite the each loop to be a little more efficient.

[2015-05-21 21:37] connorwyatt commented on #113
Just looked, I was thinking of the scss rather than the css. I'm not aware of a way round it though so it's going to have to stay like that. You could always remove rules you don't need

[2015-05-21 21:38] connorwyatt commented on #113
@dbox I was just thinking that but I don't think you could unless you change some of the colours to be the same, eg Facebook and LinkedIn but I like the slightly different shades to be honest

[2015-05-22 10:58] AdamPS commented on #113
It's possible that my aims are a little bit different from yours - but also I think I might be able to help you get the best of both worlds.  Please let me know if I'm not helping, and I'll leave you in peace!

[2015-05-22 10:58] AdamPS commented on #113
CSS: close to 500 bytes actually contains 3 bits of real information: normal color; hover color; tiny hover color.  Why not have the js file store these three colours in a config array and then inject the CSS?

[2015-05-22 10:58] AdamPS commented on #113
SVG files: I think there is a lot of evidence against fetching separate files: many articles; tools such as YSlow; feedback from users of the Drupal RRSSB module; the links I sent in my original issue - it seems like a step backwards from v1.0.

I expect it is faster to embed all the SVGs in the JS (like you say they are fairly compact).

But even better is to let the server-side code send only th

[2015-05-22 11:00] connorwyatt commented on #113
CSS injection isn't a bad idea, I'll test both methods of loading the SVG's and in the future I might look into writing a php version as you are right that server side includes would be a better bet, you'd still want the js though for the behaviour

[2015-05-22 11:00] AdamPS commented on #113
HTML: so if I understand correctly, the base page will just be a placeholder which the JS populates with list items.  (Maybe I'm old-fashioned to prefer my HTML in-line then the script to style more like Superfish etc).  If you are going this way beware that users may currently be customising the HTML and so you might lose that flexibility.

In particular don't assume that URL for sharing is the c

[2015-05-22 11:01] connorwyatt commented on #113
Yes that is all being supplied, I've already written that in, check my 2.0 branch on my for of the project.

You can specify pinterest media, youtube link and github link

[2015-05-22 11:02] connorwyatt commented on #113
And whilst I understand that some people prefer inline html, the jquery plugin call using .rrssb() means that you can set it up in seconds rather can copying html into your pages

[2015-05-22 11:03] AdamPS commented on #113
Add you own buttons: you say it would be possible - so could you actually add a JS function for this?  I think it would pass: URL (with placeholders); either SVG file URL or SVG string; 3 colors as above.

This seems particularly neat, because then in the Drupal module, we can take the JS, delete all the config specific buttons (you could even ship a minimised version) and then server side PHP cou

[2015-05-22 11:04] AdamPS commented on #113
Definitely agree copying html into your pages is tedious - my last post hopefully covers that though.

[2015-05-22 11:05] AdamPS commented on #113
"You can specify pinterest media, youtube link and github link" - nice.

Suggest you also need a function to supply URL and title, but it's optional the current page values are used by default.

[2015-05-22 11:11] connorwyatt commented on #113
"Suggest you also need a function to supply URL and title, but it's
optional the current page values are used by default." - That is in there

On 22 May 2015 at 12:05, AdamPS <notifications@github.com> wrote:

[2015-05-22 11:42] connorwyatt commented on #113
With regards to AJAX loading the SVGs I will test the speed of loading them all separately and putting them in an SVG sprite but then with an SVG sprite you will have unnecessary icons loading.

You could create your own sprite but that removes the ease of use of the plugin.

Secondly, the ajax loading of icons shouldn't be an issue because the page will still load and then the icons will "lazy lo

[2015-05-22 11:44] connorwyatt commented on #113
Just looked at simultaneous connections, most modern browsers can have more than 12 concurrent requests, meaning that this shouldnt be an issue, plus AJAX is asychronous

[2015-05-22 12:10] AdamPS commented on #113
"With regards to server processing, remember that this also stops caching and will slow the site down due to extra processing. Just a thought."

Well a way round that would be to get the server to generate an SVG file with a unique filename when the choice of buttons is confirmed and save to disk.  This could be cached by clients, would contain the minimum possible data, minimum possible number of

[2015-05-22 12:18] connorwyatt commented on #113
I agree that that is an option but this plugin is designed to be JS only and with regards to CSS it is meant to be easy to manipulate too, so I'm not sure about it to be honest. If it is highly in demand to reduce the CSS size then I can implement it

[2015-05-22 12:20] AdamPS commented on #113
Sure, no problem

[2015-05-22 12:23] dbox commented on #113
Lets keep all styling to the SCSS for now. That's what it is for.
On Fri, May 22, 2015 at 7:20 AM AdamPS <notifications@github.com> wrote:

[2015-05-22 12:24] connorwyatt commented on #113
+1

[2015-05-22 12:32] connorwyatt commented on #113
http://connorwyatt.github.io/rrssb/ This is my current status with the 2.0 version, on GitHub pages. It doesn't resize yet but look at the speed of the icon load

[2015-05-22 12:47] dbox commented on #113
Sweet, thanks. I know you're not ready for feedback yet but just looked
from phone and icons aren't loading.

Was nice and fast on desktop
On Fri, May 22, 2015 at 7:32 AM Connor Wyatt <notifications@github.com>
wrote:

[2015-05-22 12:48] connorwyatt commented on #113
Okay no worries will look into it, it's better for me to know now :)

[2015-05-22 12:48] connorwyatt commented on #113
If you have any more feedback let me know

[2015-05-22 12:50] connorwyatt commented on #113
Just checked, theyre showing on mine, what phone are you using?

[2015-05-22 13:23] dbox commented on #113
iPhone 6. Both chrome and safari
On Fri, May 22, 2015 at 7:50 AM Connor Wyatt <notifications@github.com>
wrote:

[2015-05-22 13:24] connorwyatt commented on #113
I see, I cant check it as I don't have an iphone to hand, I use android. Can you debug on an iphone?

[2015-05-22 13:26] connorwyatt commented on #113
All i can do is test it on a simulator and that isn't simulating the hardware and software, just the size http://mobiletest.me/iphone_5_emulator/#u=http://connorwyatt.github.io/rrssb/

[2015-05-22 13:32] AdamPS commented on #113
Excellent, all sounds promising.  I'm going to unsubscribe from here.

We have a Drupal module for RRSSB here https://www.drupal.org/project/rrssb - maybe you could link it from your library page?  (I have recently become a co-maintainer but I wasn't the original author.)

I have posted an issue to upgrade to V2 of the library https://www.drupal.org/node/2493483.  If you remember, we'd appreciate

[2015-05-22 13:42] dbox commented on #113
@connorwyatt https://www.dropbox.com/s/kqf8p8y7n5eh92t/Screenshot%202015-05-22%2008.34.48.png?dl=0

@AdamPS We're already linking to it: https://github.com/kni-labs/rrssb/blob/master/README.md

[2015-05-22 13:45] AdamPS commented on #113
D'oh sorry - thanks!

[2015-05-22 13:48] dbox commented on #116
You could achieve this right now by just setting fixed size container around `.rrssb-buttons`. (Then setting fixed sizes at certain breakpoints.)

But, yes, a little off-project. :)

[2015-05-22 13:52] connorwyatt commented on #113
Strange, I'll look into ajax/iphone issues and see what I can find

[2015-05-22 14:21] connorwyatt commented on #113
Right. I have sorted the share count now, but as you will see, it is showing 1792 shares for the page because facebook thinks there have been 1792 shares...

http://graph.facebook.com/?id=http://connorwyatt.github.io/rrssb/

Any ideas how to fix this? I assume it will work on actual sites but I dont know what's going wrong

[2015-05-22 14:21] connorwyatt commented on #113
Here is the link again if you need it http://connorwyatt.github.io/rrssb/

[2015-05-22 14:26] dbox commented on #113
Same # as this: http://graph.facebook.com/?id=http://kurtnoble.com/labs/rrssb

[2015-05-22 14:27] connorwyatt commented on #113
Strange... It is definitely using the connorwyatt.github url

[2015-05-22 14:29] dbox commented on #113
Yeah, not sure why it's mirroring. Clearly the tool works: http://graph.facebook.com/?id=http://google.com

Which brings up a point about how we're going to handle the width of `.rrssb-count`. I think inline block is good, but we'll need it to push the other content over. I can help you with the styling of that whenever we pull your code in.

[2015-05-22 14:29] connorwyatt commented on #113
It is working then, I’ll continue as it is

[2015-05-22 14:30] connorwyatt commented on #113
The width is done by adding a style of calc(100% - 50px) to the rrssb icons container

[2015-05-22 14:30] connorwyatt commented on #113
only if there is a count though

[2015-05-22 14:34] dbox commented on #113
I think the facebook one is referencing the meta information instead of the actual url

[2015-05-22 14:35] connorwyatt commented on #113
It can't be, open up your console and you will see that all the share counts are for the connorwyatt.github url

[2015-05-22 14:38] dbox commented on #113
Yeah, I deleted the facebook url meta and uploaded to another server and it's still doing it:
http://dbox.us/rrssb2/

[2015-05-22 14:38] dbox commented on #113
But doesn't do it locally

[2015-05-22 14:39] connorwyatt commented on #113
Yeah my local one is showing 223

[2015-05-22 14:39] connorwyatt commented on #113
It's only facebook too

[2015-05-22 14:39] connorwyatt commented on #113
on the github pages one

[2015-05-22 14:40] dbox commented on #113
Seems like there has to be something that's associating it specifically with kurtnoble.com/labs/rrssb

[2015-05-22 14:41] connorwyatt commented on #113
Yeah definitely, I'll carry on going as I am and will have a look at some point

[2015-05-22 18:56] dbox commented on #113
*The width is done by adding a style of calc(100% - 50px) to the rrssb icons container*

But if its a very long number it wont fit. Ideally the text should determine the width. But I can look into that part.

[2015-05-22 18:57] connorwyatt commented on #113
That’s just for now, I’m planning to make it so that if it is long it will show 5K or 5M etc

[2015-05-22 18:58] dbox commented on #113
ah. perfect.

[2015-05-22 18:59] connorwyatt commented on #113
;)

[2015-05-22 19:48] connorwyatt commented on #113
There you go, my github pages version has the K and M functionality now

[2015-05-26 13:12] Ardakilic commented on #112
I'd love to see a npm install for this!

[2015-05-26 13:28] connorwyatt commented on #112
@dbox If you want it in the v2 I can add it in, let me know

[2015-05-26 13:31] dbox commented on #112
Might be cool. I'd be into checking it out just to learn more about how it
works.
On Tue, May 26, 2015 at 8:28 AM Connor Wyatt <notifications@github.com>
wrote:

[2015-05-26 13:33] connorwyatt commented on #112
Fair enough I'll leave that to you
On 26 May 2015 14:32, "Daniel Box" <notifications@github.com> wrote:

[2015-05-26 13:38] dbox commented on #112
Haha. No I meant feel free to add to your list. I'll check what you do.
On Tue, May 26, 2015 at 8:33 AM Connor Wyatt <notifications@github.com>
wrote:

[2015-05-26 13:40] connorwyatt commented on #112
To be honest I've never done it before but I'll give it a go if you don't
want to
On 26 May 2015 14:38, "Daniel Box" <notifications@github.com> wrote:

[2015-05-26 13:41] dbox commented on #112
Let's put as lowest priority for now over new 2.0 improvements.
On Tue, May 26, 2015 at 8:40 AM Connor Wyatt <notifications@github.com>
wrote:

[2015-05-26 13:42] connorwyatt commented on #112
+1
On 26 May 2015 14:41, "Daniel Box" <notifications@github.com> wrote:

[2015-05-27 17:34] dbox commented on #113
@connorwyatt  Did you want me to pull into `2.0` or do you want to get a little further first?

[2015-05-28 07:05] connorwyatt commented on #113
You can pull it in just let me check whether I need to push anything up.

I haven’t done anything with the sizing of the buttons yet so that is the next job that needs doing.

[2015-05-28 10:09] bboerendans commented on #113
The thing why http://graph.facebook.com/?id=http://connorwyatt.github.io/rrssb/ and http://graph.facebook.com/?id=http://kurtnoble.com/labs/rrssb is giving the same count is that in both pages the meta property="og:url" have the same url :)

[2015-05-28 12:26] dbox commented on #113
@bboerendans That's what we thought too but I put a page up with no og:url meta and it's still doing it:
http://dbox.us/rrssb2/

[2015-05-28 12:40] connorwyatt commented on #113
Yeah we checked that @bboerendans and it’s not that, I have no idea what to do with it but I’ll look into it.

No URL is hard coded into the js so I can’t see why it’s playing up

[2015-05-28 12:42] dbox commented on #113
I have an idea. Standby
On Thu, May 28, 2015 at 7:40 AM Connor Wyatt <notifications@github.com>
wrote:

[2015-05-28 13:07] deronsizemore commented on #68
Thank you!

[2015-05-28 13:15] dbox commented on #113
@connorwyatt. Thanks! If you could bring in the current resizing that would be best.

[2015-05-28 14:03] dbox commented on #113
@bboerendans @connorwyatt. Haha. So we were all right about the og-title. When I originally uploaded it, it had the og-title, then I took it off. Evidently all it takes is seeing it once and it caches it, even if you remove.

http://www.dbox.us/rrssb/

@connorwyatt - I think it's safe to assume script is all good. :)

[2015-05-28 14:05] connorwyatt commented on #113
Cool, I would have been absolutely stumped otherwise.

Seems like a strangely permanent system though!

[2015-05-28 14:07] dbox commented on #113
https://developers.facebook.com/tools/debug/og/object/

[2015-05-28 18:52] dbox opened #118 "New folder structure"
Potential new stucture:
https://gist.github.com/dbox/37325380cc356fad21f4

Notes:
- Currently I'm using `index.html` as the actual demo, but requires the `media` folder, which isn't necessary in the repo. We can remove `media` entirely.
- Now, since `dist/index.html` doesn't have to be a 1to1 of http://www.kurtnoble.com/labs/rrssb, perhaps we should just have a few different samples there: (5 icon

[2015-05-28 19:26] connorwyatt commented on #118
The idea about having a simplified index with multiple examples is a good idea.

In response to your questions:

- No SCSS in `dist`, only production components, same goes for non minified svgs
- No to the non-minified files (again it should be only production components)
- I don't know about `assets` being `build` but `assets` sounds more descriptive to me to be honest
- Yes to ignoring assets if

[2015-05-28 19:33] dbox commented on #118
k. We'll sort out the bower ignore stuff in another thread.

I'm good with calling it `/assets`. Do we even need a copy of index in `/assets`? =

[2015-05-28 19:36] dbox commented on #118
Also should it even be called index now? Maybe just demo.html

[2015-05-28 21:07] connorwyatt commented on #118
Probably not, it's only needed as a template file really and I think that demo.html would be fine to be honest. Cant wait to get v2 out!

[2015-05-28 21:08] dbox commented on #118
Agreed. Gist is updated. I'm fine with locking this structure in.

[2015-05-28 21:38] dbox commented on #118
Maybe it should be `rrssb-template.html` then. Ha. Naming things = hard.

[2015-05-29 08:09] connorwyatt commented on #118
I don’t think that matters too much, either would be fine

[2015-05-29 23:59] daviddelahoz commented on #82
here is : http://daviddelahoz.com/rrssb.html just try to resize the browser and you will see the slow performance.

[2015-05-30 01:39] dbox commented on #82
I first opened this on my phone and didn't see any performance issues. Resizing the browser is a little sluggish, yes.

Are you having phone performance issues with this page? What device?

[2015-05-30 09:23] daviddelahoz commented on #82
Iphone 5 with iOS 8, just rotate the phone and try to swipe up or down immediately the Web page and you will see the page feezes until the rrssb finish the resize process

[2015-05-30 09:27] connorwyatt commented on #82
It's clearly an issue with processing the sizes, as there are about 5 functions that are called sequentially.

Maybe we need to update the sizing mechanisms for v2 @dbox ?

[2015-05-30 12:57] dbox commented on #82
@connorwyatt, yes, definitely up for any improvements that you can suggest.

But we can't sacrifice any of the core functionality (aka buttons switching to small size as needed)

Having tons of instances of rrssb on a page wasn't one of my original intents, but would be nice to support it if possible.

[2015-05-30 12:59] connorwyatt commented on #82
Yeah I agree that the sizing is visually great and I would hope we can keep that like that.

@daviddelahoz How does it respond when there is only one on a page?

[2015-05-30 13:10] dbox commented on #82
Also what happens when you rotate phone then reload? I don't think it refires the function on rotate

[2015-05-31 23:09] dillonbailey opened #120 "Wordpress link in Readme.md goes nowhere!"
Yo!

Love your work, just wanted to let you know the wordpress plugin link looks either broken or like the plugin has been taken down.

DB

[2015-06-01 03:17] dbox commented on #120
Thanks @dillonbailey . The Wordpress plugin is managed by @alan-reed. Read more here: https://github.com/kni-labs/rrssb/issues/93

[2015-06-01 03:17] #120 closed

[2015-06-01 04:16] dillonbailey commented on #120
Ah, yep, cool thanks @dbox !

[2015-06-10 15:16] deronsizemore commented on #68
Thanks again for this. I'm finally getting around to messing with this. I noticed that I mistyped my question initially. When sharing a link on Reddit, it doesn't really make sense to share a "body" as at that point, you're no longer sharing a link and it becomes a self post. Is there a way to pass in a URL in the reddit share button? Also, regarding passing the subreddit, I noticed on their api p

[2015-06-18 21:55] renanleandrof opened #122 "Whatsapp button?"
Is is possible?

[2015-06-18 22:14] renanleandrof commented on #122
Ok, i did it:

[code]

[code]

[2015-06-19 15:01] dbox commented on #122
dup of #81. i'm fine with adding it in 2.0

[2015-06-19 15:01] #122 closed

[2015-06-19 15:17] dbox commented on #113
@connorwyatt You still working on stuff?

[2015-06-19 15:58] hugronaphor opened #123 "Twitter sharing button issues on iOS"
Twitter sharing button will not show up in popup on iOS.
The official url structure seems to fix the bug:
https://dev.twitter.com/web/tweet-button

[2015-06-19 16:04] hugronaphor commented on #123
Pull request created.
https://github.com/kni-labs/rrssb/pull/124

[2015-06-19 16:04] #123 closed

[2015-06-19 17:46] connorwyatt commented on #113
Hi @dbox, at the minute I'm not as I've just started a new job, it's currently in a state where it loads the svgs using ajax and you can use it via jquery, it just doesn't resize.

Feel free to add in the resizing functions, the old ones should be fine, you would just need to change element names and classes. Otherwise I won't get round to it in the next month and it might be longer.

-------- Ori

[2015-06-20 07:21] Marc-pi commented on #123
@dbox need to modification also in js no ?

[code]

[2015-06-20 07:39] connorwyatt commented on #123
That part isn't implemented, it's the for v2

-------- Original message --------
From: Marco <notifications@github.com>
Date:20/06/2015  08:21  (GMT+00:00)
To: kni-labs/rrssb <rrssb@noreply.github.com>
Subject: Re: [rrssb] Twitter sharing button issues on iOS (#123)

@dbox need to modification also in js no ?

if (settings.url !== undefined) {
            $(this).find('.rrssb-facebook a').attr('hr

[2015-06-22 21:07] dbox commented on #123
No, @Marc-pi's right. Thanks!

[2015-06-24 16:16] connorwyatt commented on #123
Really? Where is that used? I thought in the current version you hard-code the url?

[2015-06-24 17:18] dbox commented on #123
It's an option in js

[2015-07-01 14:03] mikiand opened #127 "Facebook share cancel button don't work"
i have a problem with Facebook share cancel button, suddenly it stopped working

[2015-07-04 13:16] dbox commented on #127
Can you post a link?

[2015-07-04 14:41] mikiand commented on #127
there is no concrete link i think this problem is on all pages that are using rrssb, see here on the official demo page http://kurtnoble.com/labs/rrssb/ click on the faceook button than when the popup opens click cancel, the popup will not close itself. This is happening on chrome, mozilla also, it works on internet explorer.

[2015-07-04 16:54] dbox commented on #127
That's handled on Facebook's side, however it's working as expected for me on OSX Safari, Chrome, & Firefox ....

[2015-07-04 16:59] #127 closed

[2015-07-10 20:18] jsmoriss commented on #93
FYI - I'm working on an RRSSB extension for WPSSO. It should be available shortly. ;-)

[2015-07-10 20:33] jsmoriss opened #128 "Single button less than 200px becomes "tiny-format""
I've been working on some CSS to align the buttons vertically by putting each button in it's own container. If the container for a single button is less than 200px wide, RRSSB formats it as "tiny".

Here's my temporary patch:

[code]

js.

[2015-07-10 20:45] dbox commented on #93
Nice! Keep us posted

[2015-07-10 22:34] jsmoriss commented on #128
Actually, I think this may be better. ;-)

[code]

js.

[2015-07-11 14:59] dbox commented on #128
Mind pasting a screenshot of what you're doing?
On Fri, Jul 10, 2015 at 5:34 PM JS Morisset <notifications@github.com>
wrote:

[2015-07-11 19:42] adamschwartz commented on #113
Hey @dbox, I really dig what y’all have built. I’m wondering if in 2.0 you might consider dropping jQuery as a dependency?

If you wanted to still support `$.fn.rrssb` you could bring that in if jQuery is detected. That way the advantages of using it with jQuery could be maintained while still allowing it to be used by websites which don’t use jQuery.

I’d be happy to help out if this is something

[2015-07-11 22:45] jsmoriss commented on #128
Without that change, any single button within a UL of 199px wide or less would turn into a tiny button. Obviously, a tiny button of 199px wide is a bit of a problem. ;-) With this change, the width must be less than "number of small buttons, multiplied by 20" pixels wide. So, if you have 10 buttons, they turn tiny when the container is 200px or less. If you have 1 button, the container must be 20p

[2015-07-11 22:52] dbox commented on #128
Gotcha. Yes. I have a note about this in 2.0. Thanks!!
On Sat, Jul 11, 2015 at 5:45 PM JS Morisset <notifications@github.com>
wrote:

[2015-07-11 23:04] jsmoriss commented on #128
No problem.

BTW, there will soon be an RRSSB plugin available for WordPress as an extension to WPSSO. WPSSO is a social optimization plugin that can provide the RRSSB buttons with correct URLs, titles, descriptions, images, etc. I should have it done in another week or so...

js.

[2015-07-23 08:21] AdamPS opened #130 "Tidy up SVG files"
As far as I can tell the SVG icons can be optimised in various ways to remove some unneeded lines and tidy up.
* Use square viewport (pocket) else the icon ends up slightly larger than all the others
* Don't need width, height - set in CSS/JS
* Don't need fill="#FFF" - set in CSS
* Don't need preserveAspectRatio, class, fill-rule - only present on one or two icons and doesn't seem to have any effe

[2015-07-23 14:47] dbox commented on #130
Thanks Adam..

Would you mind doing a pull request into 2.0 branch for this?

Also if you're looking for more places to help out, we have a lot of 2.0 ready to go, we just need port the resizing functions from 1.x over.

Ideally I'd like to keep all new additions in the 2.0 branch. Thanks!

[2015-07-23 14:52] dbox commented on #128
@jsmoriss Great! We're trying to get 2.0 out the door as well here, so don't know if that will be helpful or not for you.

We just need to port the resizing functions over from 1.x to 2.0 and it should be pretty ready to go. It's a much nicer setup..

[2015-07-23 18:19] AdamPS commented on #130
OK, I can do it for 2.0.  But README.md says to do dev :-)  (It also has broken links for the dropbox screenshots list in the support section.)

I'll reply to your request for help on the v2.0 issue.

[2015-07-23 18:40] AdamPS commented on #113
So is your long term plan to drop v1.0?

I entered the debate further up the thread from the perspective of the co-maintainer of the Drupal integration.  I don't want to rerun the discussion again, but just a quick summary.  I can see that the drop-in zero integration option is attractive to many people.  But having the js generate the content is somewhat breaking the CMS model.  With v1.0, the HT

[2015-07-23 20:04] dbox commented on #113
@adamschwartz Personally, I don't mind dropping it as I don't do the JS updates. Would need to run by @joshuatuscan  and @connorwyatt. I guess I'd just need to see some data on what % of people use jquery and what the ramifications of removing it are.

[2015-07-23 20:06] AdamPS opened #132 "CSS for polygon no longer needed"
SVG have now been optimised to use path.  Can drop polygon, saves a couple of kB of CSS.

I could do a pull request, but let's wait for the outcome of the discussion of the future of different branches first.

[2015-07-23 20:07] dbox commented on #113
@AdamPS 1.x will still be available, but I doubt we'll maintain it to the level that 2.0 will be. Definitely happy to have `rrssb-drupal` and `rrssb-wp` forks off the main repo, but I personally have zero interest in maintaining all the different versions. At a certain point, people like to build things differently, and that's okay!

[2015-07-23 20:10] dbox commented on #132
Thanks! Go ahead and pull request to `dev` and I'll get it merged up. (Just getting a little hairy in this in-between time. Don't want to have to recreate a bunch of work in 2.0)

[2015-07-23 20:10] AdamPS opened #133 "Need fix for Large-format type size when container isn't 100% width"
Almost everything is resized accurately, but the font size is a bit hit and miss.  It uses vw with a fallback of pt.  Why not calculate the exact best font size in the script?

pt is of course hard-coded so sometimes too big and sometimes too small
vw is relative to the viewport width - which could be very different from the container width

To see a worst possible ugly case, take the demo page, c

[2015-07-23 20:27] dbox commented on #132
So even more optimizations since the last pull request?

[2015-07-24 07:29] AdamPS commented on #132
I've now added this change to my other pull request.  I've just changed the SCSS so far.  I don't use the tools installed to regenerate the CSS from that.  I could do a simple search and replace by hand, or maybe you could rerun the regeneration process.

[2015-07-24 07:30] AdamPS commented on #130
Oh by the way I didn't include index.html in my pull request.  Is that file generated automatically or do I need to do it by hand?

[2015-07-24 07:32] AdamPS commented on #113
@dbox Great, thanks it will help to have 1.0 around still.  I can understand it would be less well maintained.  Any updates to SVG files would perhaps be a really useful thing to transfer across and hopefully really easy to do as the files will stay in sync.

[2015-07-24 16:46] adamschwartz commented on #113
@dbox I’m not sure why jQuery usage data would be necessary. Removing jQuery as a dependency would allow more people to use it, not fewer. That being said, the development time to remove it as a dependency (and continue to maintain it that way) is certainly real, but I’d be happy to help out there.

[2015-07-24 17:26] dbox commented on #113
I just meant if 99% of people are using it, then probably not worth the
refactor, but I'm game.

We just gotta port those resize functions over first.

On Fri, Jul 24, 2015 at 11:46 AM Adam Schwartz <notifications@github.com>
wrote:

[2015-07-24 17:40] adamschwartz commented on #113
Ahhh, I see, my mistake.

Yeah, as co-creator of [YMNNJQ](http://youmightnotneedjquery.com) I may be just a tad biased ;), but when a *library* can do everything it wants without jQuery, I typically advocate it. And like I said, I’d be happy to help out as I see it being very beneficial here. IMHO, a typical blog wouldn’t need jQuery since it’s just displaying static posts. Things like comments ca

[2015-07-24 17:44] AdamPS commented on #113
From the Drupal perspective, jQuery will very likely be loaded anyway.  But there is a certain amount of hassle to get v10 that is required here - the default is lower.

[2015-07-24 17:46] joshuatuscan commented on #113
I think it’s a good idea to abandon jQuery as a dependency. Originally it was for speed and banking on the fact that most people will have jQuery running on their site already, however, vanilla JS would be better and I’m for it.

Like Daniel said, just need to port the functions away from using it.

[2015-07-24 17:47] adamschwartz commented on #113
@AdamPS a great example of why dep management on the web is so hard. :+1:

@joshuatuscan awesome! Let me know if I can help at all.

[2015-07-24 18:29] dbox commented on #113
Checklist at the top of this thread has been updated with some tasks:)

This one is the main priority right now:

Not sure about @joshuatuscan's current availability, so if anyone else can dive in and help feel free!

[2015-07-24 18:32] dbox commented on #133
If only there was a `cw` property... container width.

[2015-07-24 18:32] AdamPS opened #134 "Missing index.html entry for instagram and delicious"
SVG and SCSS are fine.  In 2.0 branch, the equivalent is the js file which is also missing.

Basically the extra information needed is the URL.  It would help if someone who uses these services (not me sorry) could figure out what is needed and test.

[2015-07-24 18:38] dbox commented on #134
you can't really "share" through Instagram so the link is just `http://instagram.com/username`

Delicious looks to be something like this now:
`https://delicious.com/save?v=5&noui&jump=close&url='http://urlhere'&title='title-here'`

However, not sure how many people are still using it...

[2015-07-24 18:40] dbox commented on #113
Btw, 2.0 is DELIGHTFUL to work on thanks to all @connorwyatt's work on the gulp/browsersync setup.

[2015-07-24 18:57] dbox commented on #130
currently done by hand ... everything else is merged up if you'd like to pull down then submit a new index.

[2015-07-24 18:59] #132 closed

[2015-07-24 19:08] dbox commented on #116
Super lightweight thing might be great. Feel free to fork and go for it! Closing this out for now.

[2015-07-24 19:08] #116 closed

[2015-07-24 19:15] dbox commented on #116
I might even take it on post 2.0 myself.

[2015-07-25 07:37] AdamPS commented on #116
I have made some progress, but not fully working.  I'll try and get something I can share soon.

[2015-07-26 14:41] AdamPS commented on #130
Thanks.  OK done for the index.

[2015-07-26 16:20] AdamPS commented on #134
delicious - I only mentioned it because we have the CSS and SVG.  I don't know how many people are using it.  I'm not fussed either way to have it fully or delete it fully (but best not to have it only partly).

Let me know and I can make a push request.

[2015-07-26 16:36] AdamPS commented on #68
So if we can't have both text and url (and we should test this I guess), it looks like there is an action to remove the text parameter from both V1 and V2.  Also, in that latest API, the URL is slightly different ("/api/submit") and it suggests there should be a kind parameter.  I don't have an account to test.

Regarding subreddit - it would be easy to pass it, but how to decide what value to pas

[2015-07-26 22:35] AdamPS commented on #134
Although seeing as someone has gone to the trouble of creating delicious maybe we should just leave it.

[2015-07-26 22:45] AdamPS commented on #133
OK, I've got stuck in a bit and I have a fairly good solution.  But I ended up simplifying the CSS quite a lot, and possibly accidentally broke something.  So I would appreciate anyone who is wiling to take a look and test it out.

In summary, I got rid of all of the hard-coded px values and also the vw.  Everything is now in em, except the font size of course.  The js increases the font size when

[2015-07-26 22:47] AdamPS commented on #133
BTW my changes also include the fix for #128

[2015-07-26 22:48] AdamPS commented on #133
PS The new CSS is %30 smaller (and I feel it's easier to understand)

[2015-07-26 22:59] AdamPS commented on #133
See above pull request, many thanks!

[2015-07-28 18:33] jsmoriss commented on #128
FYI - I just released WPSSO RRSSB - an RRSSB plugin for WordPress. ;-)

https://wordpress.org/plugins/wpsso-rrssb/

js.

[2015-07-28 18:34] dbox commented on #128
Nice! There will be a lot of happy people.

Maybe a little credit to this repo on the homepage would be nice :wink:

[2015-07-28 18:35] dbox commented on #93
https://wordpress.org/plugins/wpsso-rrssb/

@jsmoriss has released a WP plugin. Please direct all wp-related questions there! Thanks!

[2015-07-28 18:35] #93 closed

[2015-07-28 18:38] jsmoriss commented on #128
I was just thinking that - I was pushing to get this plugin out today and need to fill-out some of the details, like credit for the RRSSB css/js stuff. ;-)

js.

[2015-07-28 20:27] #79 closed

[2015-07-28 20:28] dbox commented on #128
Cool. I'll get in in the readme soon.

[2015-07-31 06:58] et4m1r opened #136 "Used Social Buttons in modal box. Cant calculate text width correctly."
when i use in modal. texts looking like this.

![socialbtn](https://cloud.githubusercontent.com/assets/5338985/9002270/a849d6c6-3716-11e5-8d30-dbcbd8925049.jpg)

[2015-07-31 14:13] dbox commented on #136
can you post example code somwehre

[2015-08-05 04:12] adamschwartz commented on #133
I’m seeing this issue as well. Happy to help out in any way I can.

I made this [jsFiddle](http://jsfiddle.net/adamschwartz/ksy4r4pr/show/) for easy testing. :)

[2015-08-05 09:34] AdamPS commented on #133
@adamschwartz I had it fixed in my fork, but that was based on top of other work that altered the appearance of the buttons, and so @dbox quite reasonably didn't want to take it.  Unfortunately that code isn't there any more because I removed it in order to make the branch pure so another fix could be pulled.

However it was actually pretty simple.  The first part you have already done I'm guessin

[2015-08-05 15:42] adamschwartz commented on #133
Sweet, thanks @AdamPS :)

[2015-08-24 02:01] deronsizemore commented on #68
Sorry for my delayed response here.

What is a "kind parameter?" Also, I have an account and can test things if you needed me to?

I assume it would just be hard coded? For me, I'd need to only every submit to a single subreddit which will never change.

[2015-09-01 17:06] dbox opened #137 "Feature: Slack button"
I think we should probably get this guy added: https://api.slack.com/docs/slack-button

[2015-09-03 19:25] dbox opened #138 "Update: Google plus"
https://developers.google.com/+/branding-guidelines?hl=en

Need to update this

[2015-09-17 03:22] petersuhm opened #139 "Feature: Buffer share button"
Awesome stuff, thanks a lot for making this!

Any change a button for Buffer is in the pipeline?

https://buffer.com/extras/button

[2015-09-24 18:46] ivanakimov opened #140 "Shouldn't ampersand not be encoded for email body?"
I had an issue where email body would not show up (Chrome 45 on Mac); changing `&amp;` to `&` fixed it: https://github.com/kni-labs/rrssb/blob/master/js/rrssb.js#L65

In the example here they also use non-encoded ampersand: https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Email_links

**Sidenote:** Also is `(settings.emailAddress !== undefined)` right above it really required? I omitted pas

[2015-09-29 11:09] ildaroit opened #141 "Button customizing"
Sorry, i cant find how can i customize or add other social buttons which is not listed here? For example vk.com or another?

And it will be good to add alphabet and digits icons to list - if where are no nedded button, user can use fist character as a logo for first time.

[2015-09-29 13:27] dbox commented on #141
VK is in the code, just commented out:

[code]

[2015-09-29 13:51] ildaroit commented on #141
Thx, but what todo if i need another icons? )

[2015-09-29 13:52] dbox commented on #141
https://github.com/kni-labs/rrssb/blob/master/index.html

Index has examples of all the icons, otherwise just follow the formula to set up your own.

[2015-09-29 14:15] ildaroit commented on #141
Thx guy, i'll try, but draw my own vector icon is not easy.. )

[2015-09-29 16:52] dbox commented on #141
What site are you looking for? Most logos can be found via google by searching `logoname  svg`

[2015-09-30 07:17] ildaroit commented on #141
Rutube.ru, My Own Site and another )

[2015-10-05 13:37] PTiCA1 commented on #138
new svg logo...

[2015-10-05 14:12] dbox commented on #139
Happy to accept a pull request here.

[2015-10-05 14:37] dbox commented on #138
published to 1.8.6

[2015-10-05 14:37] #138 closed

[2015-10-05 14:40] dbox commented on #113
Pinging to see availability on 2.0 work. @joshuatuscan you around at all? Anyone else want to dive in here? I'm currently slammed but would like to get 2.0 out the door if possible. I can help but can't take on the porting of resizing functionality.

[2015-10-05 14:41] dbox commented on #141
yeah I'd just recommend adding those yourself! Good luck!

[2015-10-05 14:41] #141 closed

[2015-10-05 14:42] #130 closed

[2015-10-05 14:46] #134 closed

[2015-10-05 15:03] dbox commented on #137
svg: https://www.dropbox.com/s/ioir4c80qfakxwx/slack.svg.zip?dl=0
hex: #35b17c

[2015-10-05 18:46] newtonianb opened #143 "CSS Glitch on tiny format - front end js app"
I'm trying to make this work inside my front end js app.
When a view is rendered I manually call ``rrssbInit.init()``

I just modified the library and added this line ``window.rrssbInit = rrssbInit;``

I can't determine if my CSS glitch is due to this or natively in the library

![ff](https://cloud.githubusercontent.com/assets/2313644/10289962/5763ec3c-6b6f-11e5-815a-1239d0e5d665.jpg)

[2015-10-06 01:34] dbox commented on #143
doesn't seem like something native to the library. Feel free to post an example.

[2015-10-13 12:47] rbu opened #144 "Smallest icon size is shifted in IE11"
Steps to reproduce:
1. Open latest IE11
2. Go to http://kurtnoble.com/labs/rrssb/
3. Set window size as small as possible

![rrsb](https://cloud.githubusercontent.com/assets/65913/10455052/2be15e8c-71b9-11e5-9d13-9021a0577db7.gif)

[2015-10-13 13:16] rbu commented on #144
The span containing the svg is missing a height declaration (thus has height: auto) and for some reason this means that the ul's height is not getting pushed all the way inside. As a workaround, this helps (and may be the solution?):
[code]

[2015-10-14 15:20] frubini opened #146 "How can I simply init settings with javascript ?"
this is not clear in the documentation: "Optionally, all share meta and links can be configured in rrssb.js"

I guess if there is better way that modifying the unminified js

I tried, but does not work as expected:

$.fn.rrssb({
  description: '.....',
  title: '...',
  url: 'http://...'
});

in fact $(this).find('.rrssb-facebook a') does not find any dome node.

[2015-10-15 09:16] frubini commented on #146
don't mind I figured it out, maybe you can add to the info:

$('#mylistselector').rrssb({
description: '.....',
title: '...',
url: 'http://...'
});

[2015-10-15 09:16] #146 closed

[2015-10-15 12:55] LalitPatadiya opened #147 "Share text with image..?"
Some one please tell me how to pass my image with text..? and is this possible with this..?

[2015-10-15 15:29] dbox commented on #147
Make sure you have your sharing meta tags
https://moz.com/blog/meta-data-templates-123

[2015-11-17 15:40] YaLiC opened #148 "Need new social networks"
Пожалуйста, добавьте социальные сети:
Please, add new social networks:
http://ok.ru/
https://my.mail.ru/

[2015-11-26 10:18] eiselems commented on #133
@AdamPS  Is this a general fix? Or would you say this is just a workaround for non 100% width containers?
If this is considered a fix, i can create a PR for my latest commit inside my fork.

[2015-11-26 10:59] AdamPS commented on #133
I would definitely say it's a general fix - 100% width is probably not so common because of sidebars and so on.  Of course need to test the fix works well at 100%, but I think it should.

[2015-11-26 15:18] adamschwartz commented on #133
:+1:

[2015-12-07 01:45] odbol commented on #140
Fixed by #151

[2015-12-07 01:47] odbol commented on #82
I'm guessing this could be fixed by using CSS media queries instead of Javascript. Not sure if that's too much work or even possible though...

[2015-12-08 05:36] dbox commented on #133
Finally got a chance to look at this. I think this basic concept will work we just need to tweak the sizing a little so there is no visual change.

I've also be experimenting with element queries a little, which could be interesting.

http://codepen.io/dbox/pen/adzLQb

I'll get a fix for this pushed soon.

[2015-12-08 05:46] #147 closed

[2015-12-08 05:47] dbox commented on #144
Good catch! Looking into this.

[2015-12-08 05:47] #143 closed

[2015-12-08 05:47] #140 closed

[2015-12-08 05:52] dbox commented on #82
@odbol I've been pondering if there is a way power everythig with [Element Queries](https://github.com/tysonmatanich/elementQuery), but I think the "magic" part - having the right-most elements drop to icons, is always going to require JS.

[2015-12-08 05:52] #68 closed

[2015-12-08 08:15] eiselems commented on #133
@dbox Nice, looking forward to it ;)

[2015-12-09 02:36] #133 closed

[2015-12-09 02:37] dbox commented on #148
Closing due to demand

[2015-12-09 02:37] #148 closed

[2015-12-09 02:37] dbox commented on #139
Closing due to lack of demand.

[2015-12-09 02:37] #139 closed

[2015-12-09 02:39] dbox commented on #128
Happy to accept a pull request if you have this fixed.

[2015-12-09 02:39] dbox commented on #112
This will happen with 2.0

[2015-12-09 02:39] #112 closed

[2015-12-09 02:44] dbox commented on #82
So really this issue is "slow performance when having multiple instances of rrssb on the page."

I'm definitely happy to look into ways to optimize the js calls, but not sure there is an immediate fix for this, as having lots of iterations on the page was never part of the original plan.

Closing for now. Will ponder for 2.0

[2015-12-09 02:44] #82 closed

[2015-12-09 02:44] #136 closed

[2015-12-09 02:48] dbox commented on #75
@aicarlson Do you still have that codepen somewhere? Link is 404ing for me.

[2015-12-09 14:24] aicarlson commented on #75
I don't, I think I cleaned it out a little while back. I could replicate it
for you again, I'll try to get that to you guys today.

On Tue, Dec 8, 2015 at 8:48 PM, Daniel Box <notifications@github.com> wrote:

[2015-12-09 15:19] dbox commented on #75
@aicarlson No worries. I just did it.

This is definitely still happening. Currently happening in Chrome, but not Safari or Firefox for me:

http://codepen.io/dbox/full/vLONzd/

[2015-12-09 15:24] jsmoriss commented on #128
Done. ;-)

js.

[2015-12-09 15:25] dbox commented on #128
Great. Looking now. Thanks!

[2015-12-09 15:47] #128 closed

[2015-12-09 15:53] Marc-pi commented on #128
@dbox, don't forget to update changelog/readme ;-)
great anyway

[2015-12-09 15:54] dbox commented on #128
@Marc-pi which part?

[2015-12-09 15:57] Marc-pi commented on #128
readme.md we are sticked to 1.8.0 ;-)

[2015-12-09 15:58] dbox commented on #128
Ah yeah. Thanks. I think I"m just going to remove that entirely. It's all available under releases tab:

https://github.com/kni-labs/rrssb/releases

[2015-12-09 15:59] Marc-pi commented on #128
yes, i use that page also, but i noticed that in package when reading the readme and other files

[2015-12-09 21:21] alejandroiglesias opened #156 "Strange rendering: difference between page load and resizing, bad labels, etc."
Hi, I'm trying to implement RRSSB on a website, but it renders quite strange. The thing that calls my attention the most is that it renders differently on page load and after resizing a few px. Seems that the window resize event calls another function that is not called on page load. Besides that, it looks quite different than the demo page, which is what I was expecting (all buttons on the same r

[2015-12-09 21:30] dbox commented on #156
The JS isn't firing..

[2015-12-09 21:32] alejandroiglesias commented on #156
@dbox thanks for replying. I've added a log on the `rrssbInit` function and it is being called.

[2015-12-09 21:33] dbox commented on #156
Jquery?

[2015-12-09 21:34] alejandroiglesias commented on #156
Using jQuery 2.1.4.

[2015-12-09 21:35] dbox commented on #156
Can you post a stripped down version somewhere?

[2015-12-09 21:44] alejandroiglesias commented on #156
Sure, [here](https://gist.github.com/alejandroiglesias/9ee111827c36f88c32ce) is a barebones version of my HTML file.

[2015-12-09 21:46] dbox commented on #156
Going to have to see the full thing posted somewehre. Actually can you hop in here:

https://gitter.im/kni-labs/rrssb

Going to start a chat room for people who need help with implementation / questions. Thnx!

[2015-12-09 21:46] #156 closed

[2015-12-09 21:50] alejandroiglesias commented on #156
@dbox just found out the issue, I was using an Angular `<ng-include>` tag for including the HTML template for the sharing buttons. Seems that it was loading it after the RRSSB JS.
Thanks and sorry for any hassle.

[2015-12-09 21:51] dbox commented on #156
Glad you figured it out! :tada:

[2015-12-10 17:22] mcstutterfish opened #158 "How can I make one of the social icons start / stay larger?"
I want Facebook to take up 50% of the line and then fit others in the rest of the space. Is there a way to do this?

[2015-12-11 14:47] dbox commented on #158
If you didn't care about small and large sizes you could force overrides on the facebook icon:

http://codepen.io/dbox/pen/ZQbzro

[2015-12-14 02:30] dbox opened #160 "Performance Enhancement"
per @connorwyatt:

"If you use a debounce on it so that it only fires every 200 ms it will be a lot more performant."

[2015-12-14 20:36] dbox opened #161 "Blink on load"
If the page loads quickly enough the unstyled buttons flash quickly before resizing. Need to make sure its firing immediately on load, or hide buttons for ~200ms so that they come in at the correct size.

[2016-01-18 13:03] oskar9 commented on #75
In my case this is happiness not in the first loop but other loops in Chrome just for Icons not button, but if I change the browser size smaller enough the button disappeared and now it shows the icons.
![social](https://cloud.githubusercontent.com/assets/5046473/12392039/3990d3a8-bdec-11e5-8126-f72b7430fd44.JPG)

[2016-01-18 13:30] oskar9 commented on #75
So, Is there an option to turn off the button and only show the icon?

[2016-01-18 14:33] pascalwacker opened #162 "Add Whatsapp icon"
Hi

I really like your work and how nice it scales. The only thing, that is missing for me is a "Whatsapp" icon (which should only display on phones, so let's say when the resolution is <= 767px)

is there anything like that planed?
If no, could you tell me, how to make an path from an icon, to add it?

Thanks (:

[2016-01-18 14:47] dbox commented on #75
@oskar9 it does that automatically below a certain size ...
![image](https://cloud.githubusercontent.com/assets/296130/12394148/b934dd02-bdbf-11e5-9d74-80c5310e8cff.png)

I've never seen that issue. Feel free to hop in chat to help debug your specific case: https://gitter.im/kni-labs/rrssb?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge

Multiple instances per page weren'

[2016-01-18 16:24] dbox commented on #162
dup of #81 and #122. I'm fine with adding but we can't simply just remove it with a media query, will break the setup. Open to thoughts on what to do with it

[2016-01-18 17:21] pascalwacker commented on #162
What's about hiding it in the `$(window).resize(function () {` on line 359 of https://github.com/kni-labs/rrssb/blob/master/js/rrssb.js
You could add a class like `hidden` and then check for it in the `checkSize` function to ignore the "hidden" button.

Maybe it could be used as a general approach for hiding and showing buttons for desktop or mobile only.

[2016-01-18 22:25] oskar9 commented on #75
![Uploading share2.JPG…]()

[2016-01-21 06:24] kow opened #163 "google+ example broken"
the example links to:
https://plus.google.com/share?url=A%20snow%20report%20that%20gives%20Lodging%20Discounts%20when%20it%20snows!%20I%27ve%20just%20claimed%20mine%20at%20the%20Leavetown.com%2020cm%20Rule%20Snow%20Report%20page.%20If%20you%20ski%20or%20snowboard%2C%20check%20it%20out.%20http://kurtnoble.com/labs/rrssb/index.html

which gives error 400

should be:
https://plus.google.com/share?url

[2016-01-21 21:52] PabloC opened #164 "uBlock is blocking it"
I'm using uBlock on Google Chrome, and it is blocking the script. Buttons are not appearing.

[2016-01-22 15:43] dbox commented on #164
FWIW I've never heard of uBlock. Happy for someone to investigate, but not going to be something I can look into.

[2016-01-22 16:33] PabloC commented on #164
2,758,242 users are using this adblock.

Apparently, there is a site https://forums.lanik.us/ that has all the URLs used in the plugin marked as blocked.

Screenhost here:

https://www.dropbox.com/s/edynr9lcsgn71xo/Screen%20Shot%202016-01-22%20at%2017.34.31.png?dl=0

[2016-01-22 16:34] dbox commented on #164
So it's blocking facebook's default social sharing url. Seems like a bad idea imho

[2016-01-25 12:02] RyanRoberts commented on #164
Surely if a user of uBlock has chosen to block social sharing links, you should respect that…?

[2016-01-25 12:09] dbox commented on #164
Is that not what's happening?
On Mon, Jan 25, 2016 at 6:02 AM Ryan Roberts <notifications@github.com>
wrote:

[2016-01-25 14:28] PabloC commented on #164
uBlock is a nice adblocker. It's faster than adblock I don't know why they
are blocking this buttons, but it's the first time that I notice this.

On Mon, Jan 25, 2016 at 1:09 PM, Daniel Box <notifications@github.com>
wrote:

[2016-01-25 15:48] dbox commented on #164
Yeah, I'm afraid you'll have to take up any issues with them. We can't do anything about people blocking the common sharing urls.

[2016-01-28 19:42] jsmoriss opened #165 "https://wordpress.org/plugins/ridiculously-responsive-social-sharing-buttons/ broken"
FYI - You have a link to a WordPress plugin of RRSSB at https://wordpress.org/plugins/ridiculously-responsive-social-sharing-buttons/, but that plugin does not exist.

You may want to link these two instead:

https://wordpress.org/plugins/rrssb/
https://wordpress.org/plugins/wpsso-rrssb/

js.

[2016-01-28 21:21] dbox commented on #165
Thanks. Want to make a pull request?

[2016-02-03 15:35] j3ll3nl commented on #162
With the button-code from #122 and the idea mentioned above this would be a great feature to have.

[2016-02-03 16:50] pascalwacker commented on #162
Ouu, I haven't seen https://github.com/kni-labs/rrssb/issues/122 yet, but I also made an implementation and a pull request for it: https://github.com/kni-labs/rrssb/pull/166

[2016-02-12 16:24] lombardicz opened #169 "Chrome blocking popups"
Hello,

I've been seeing the plugin blocked sometimes, seems to happen sometimes on second click or first, where it doesn't open a popup (it gets blocked) so it redirects to sharing page, breaking some uses.

Is anyone aware of this? Has Facebook changed some policy?

[2016-02-12 16:24] dbox commented on #169
dupe of #164

[2016-02-12 16:25] #169 closed

[2016-02-14 20:48] dbox commented on #164
Any follow up on this? Seems like its out of our control.

[2016-02-14 20:50] dbox commented on #163
Where are you seeing that?

[2016-02-14 20:54] #165 closed

[2016-02-14 20:55] #158 closed

[2016-02-15 00:48] kow commented on #163
It was throwing the error when I submitted the bug, but seems to be ok today.
In any case, the documentation calls for the URL param to be a URL, and seems to throw away the text that precedes it on the example page.
https://developers.google.com/+/web/share/#sharelink

[2016-02-15 00:48] #163 closed

[2016-02-16 09:48] jasminejjj777 opened #170 "Buttons don't work in .php file"
Thank you for responsive social sharing buttons,they're awesome .
When i use these  social sharing buttons in .html file ,everything works well, BUT when i use the same code,the same href ,src  links  in .php  file,i get these error

1/Uncaught TypeError: $(...).rrssb is not a function

In  http://localhost/test/share/share.html  file some of the buttons are displayed ,some are not...

Here are th

[2016-02-16 12:31] theus commented on #164
I use uBlock too but here it's not blocking nothing. It's probably the filters... it has some filters that block social things and privacy tracking. I believe that some these should blocking the icons.

[2016-02-16 15:08] dbox commented on #164
Gunna close this one. Happy to look at it if it's something we can change, but I don't think it is.

[2016-02-16 15:08] #164 closed

[2016-02-21 07:20] Number-1 opened #172 "Mobile Unreadable"
When I used the js in the download ("js/rrssb.min.js") everything looked OK on desktop but mobile was too small to read with more than 3 buttons. Strangely enough the [demo ](http://kurtnoble.com/labs/rrssb/)switches to icons on mobile so not an issue.

Using the [build.js](http://kurtnoble.com/labs/rrssb/js/build.js) from [demo ](http://kurtnoble.com/labs/rrssb/) works fine.

Not sure what the di

[2016-02-21 14:05] dbox commented on #172
Can you post a stripped down example somewhere demonstrating what is going on?

[2016-02-21 14:53] Number-1 commented on #172
Sure - [example](http://downsconsultingservices.com/test/rr-tst.html)

Looks like the attached on the phone.  Looking at it on a desktop is deceptive. There's no room on a small screen for all that text.

![too small for phone](https://cloud.githubusercontent.com/assets/3686121/13203206/5cb14fec-d878-11e5-84de-637c9993d18b.png)

[2016-02-21 15:01] dbox commented on #172
try adding this to your `head`:

`<meta name="viewport" content="width=device-width, initial-scale=1">`

[2016-02-21 15:05] Number-1 commented on #172
I would have sworn I tried that last night. Added and it works perfectly.

[2016-02-21 15:06] dbox commented on #172
Whoo hoo! 🎉

[2016-02-21 15:06] #172 closed

[2016-02-21 16:21] dbox commented on #162
Should be good to go in `1.10.0`. Let me know if any issues arise! :tada:

[2016-02-21 16:21] #162 closed

[2016-02-21 16:51] dbox commented on #170
sounds like your js isn't being referenced. I dont really have a way to test the php..

[2016-02-21 16:51] #170 closed

[2016-02-22 08:23] jasminejjj777 commented on #170
I've checked the code,this is what i have in index.php (I've placed js files in jsShare folder)
`<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script>
    window.jQuery || document.write('<script src="jsShare/vendor/jquery.1.10.2.min.js"><\/script>')
  </script>
  <script src="jsShare/rrssb.min.js"></script>`

I've downloaded  ZIP files from git-hub(rr

[2016-03-09 09:38] picks44 opened #173 "Is it possible to add XING ?"
Adding a sharing button for [XING network](https://dev.xing.com/plugins/share_button/) ?

[2016-03-18 03:04] rnjailamba opened #174 "Instagram url not set by Javascript"
When i write below code all other buttons get their href except instagram
[code]

[2016-03-18 03:44] rnjailamba commented on #174
Not possible to share to instagram,closing issue
http://stackoverflow.com/questions/17673156/instagram-share-photo-from-webpage

[2016-03-18 03:44] #174 closed

[2016-04-25 13:59] aicarlson commented on #75
I'm poking around at this again in my 'spare' time. I thought it might have something to do with the debounce function but that was a false positive.

[2016-04-25 14:03] dbox commented on #75
Spare time? What's that!

[2016-04-25 14:09] aicarlson commented on #75
@dbox Good question, I'll let you know when I find out!

[2016-04-25 14:10] dbox commented on #75
:) Thanks for poking around again!

[2016-05-04 11:03] ses commented on #173
+1 we need that too! :)

[2016-05-05 23:57] RamyElkest commented on #161
Indeed, this would also solve loading the buttons dynamically since we need to call rrssbInit() but blinks in the meantime

[2016-05-12 21:40] dbox opened #176 "new instagram logo"
guess we better fix it up ¯\_(ツ)_/¯

[2016-05-20 02:12] coolwebs opened #178 "Configure URL and share text with javascript"
dbox, can you include a sample of this feature? At the moment I'm using your lib and handcoding the share details into the URL like your example (except for OG stuff). Because the way that social media shares via URL are all different, I'm having issue with getting that jQuery feature to configure share text.

[2016-05-23 23:44] coolwebs opened #179 "Twitter share page error in IE11"
Have just tested RRSSB out on all the common browsers that we need to and noticed that there is an issue with IE11. When clicking on the Twitter button, the window appears OK, but as soon as a user goes to tweet the message - it goes to an error (403) page with the title "The website declined to show this webpage.   Most likely causes: - this website requires you to log in.

I can confirm that I a

[2016-05-24 01:23] coolwebs commented on #179
Actually, after doing more testing I think this was all on my end. I think it was a conflict between encoding the data in the URL and using Twitter cards metadata (plus injecting data variables into the code which dynamically grab the URL and name of the page). I think if using Twitter card metadata, you only need to share the URL and not the other text but I can't find solid information to back t

[2016-05-24 03:25] dbox commented on #179
👌 Post if anything else pops up

[2016-05-24 03:25] #179 closed

[2016-05-30 06:37] ses commented on #173
plz add the xing button :+1:

[2016-06-29 09:09] cappuccinonet opened #180 "Possible to show small icons for all screen sizes"
Hi,
just wondering if it is possible to configure rrssb to show the small icons for all screen sizes. - I solved it my way via jQuery and added the "small" class and the style="widht: 42px;" to the list elements.
Kind regards,
Bernhard

[2016-06-29 11:48] dbox commented on #180
Just remove all the js entirely and copy the `.small` class css/sass

[2016-06-29 11:48] #180 closed

[2016-07-21 21:09] MarioGiancini opened #181 "Two Windows Pop Up With Twitter Button When Using Official Follow Button"
Just want to point out that if you are using the twitter share button along side the official Twitter follow button, 2 windows will pop open when you click to share in most browsers.

The work around I found to fix this to use https://twitter.com/share? instead of https://twitter.com/intent/tweet? in the share button href. It seems to be calling something from Twitter's widget.js twice:

https://t

[2016-07-22 13:08] dbox commented on #181
Awesome. Nice sleuthing. Mind doing a pull request?

[2016-08-04 01:43] Rynaro opened #182 "Rails integration link is offline!"
The Ruby on Rails integration documentation website url is offline. The url now redirects to an webpage showing that "URL is now available to purchase".
I think, its a good idea removing this topic from README

[2016-08-04 14:05] dbox commented on #182
Hi @Rynaro. Thanks for the lookout. Want to make a PR for this?

[2016-08-04 22:41] Rynaro commented on #182
The pull request is here. :smiley:
I've removed the Rails link, and adjusted the link of CDN too.

[2016-08-05 15:49] dbox commented on #182
Whoot! thnx.

[2016-08-05 15:49] #182 closed

[2016-08-19 14:00] xtianus opened #184 "Buttons on ajax content"
I'd like to show the share buttons on an ajax-loaded modal.
The modal is of course loaded after rrssb has been initialized on the main page, so the buttons don't behave well. I tried calling rrssbInit() in the ajax modal but it's not enough. This is the result:

![image](https://cloud.githubusercontent.com/assets/7997535/17812091/e3a926ec-6625-11e6-836d-ae0410c1ba2f.png)

[2016-09-09 00:41] travbus opened #185 "Display issues on hidden div"
Weird display on a hidden div when it is called to appear  the first button is huge. Resize window and buttons are displayed normally.

[2016-09-09 15:48] dbox commented on #185
Hi @travbus. You're going to have to give some more information for us to help out. Can you provide a demo / [minimal working example](https://www.wikiwand.com/en/Minimal_Working_Example)?

[2016-09-11 13:53] dbox commented on #184
Can you provide a demo / [minimal working example](https://www.wikiwand.com/en/Minimal_Working_Example)?

[2016-09-11 16:39] xtianus commented on #184
Can't give you a demo right now buy I can tell you what I did to make it work:

- removed "rrssbInit();" from end of "$(document).ready(function(){"
- changed "$(document).ready(function(){" into "var documentReady = function() {"
- added "documentReady();" just after "var rrssbInit = function() {"

Now I can call "rrssbInit();" whenever I need to initialize the buttons. For example after a bootst

[2016-09-29 18:56] spacedragn commented on #185
Hi – I'm experiencing something similar. It only happens when the window is resized while the tray is closed. When the tray is open, all of the buttons are unstyled and the first button icon is gigantic. http://demo.jamiesanchez.com/rrssb/

[2016-10-12 15:17] #176 closed

[2016-10-12 15:18] #184 closed

[2016-10-12 15:18] dbox commented on #184
Let me know if you can post a demo and we'll reopen.

[2016-10-12 15:19] #185 closed

[2016-10-12 15:24] dbox commented on #181
I can't reproduce this and the official doc still has /intent as the proper url. Closing for now. Happy to reopen if something else pops up.

[2016-10-12 15:24] #181 closed

[2016-10-12 15:25] dbox commented on #178
[code]

[2016-10-12 15:25] #178 closed

[2016-10-14 03:22] coolwebs commented on #178
Thanks man!

[2016-10-14 15:04] dbox commented on #137
Looks like you have to authorize specific app. Not sure we want to have specific API integration just for slack. Will reopen if they have an easier way to share.

[2016-10-14 15:04] #137 closed

[2016-10-14 15:05] dbox commented on #144
@rbu Want to try a PR for this?

[2016-10-14 15:06] dbox commented on #75
Anyone have any new insight on this? Multiple instances weren't really part of the initial plan for this repo, so going to close this for now. If anyone is able to get a fix going please submit a PR. Thanks!

[2016-10-14 15:06] #75 closed

[2016-10-14 15:07] dbox commented on #160
Closing. Not sure we need this.

[2016-10-14 15:07] #160 closed

[2016-10-17 08:45] rbu commented on #144
Sure, sent one.

[2016-10-17 14:11] #144 closed

[2016-10-20 12:06] tomaszrondio opened #191 "each(function(index, count)... second parameter is not count but element"
[code]
this is always true because count is not a number so backUpFromSmall() is fired every time
`if (!--count) backUpFromSmall();`

[2016-11-01 16:05] fourclub opened #193 "_"

[2016-11-01 16:06] #193 closed

[2016-11-22 22:00] cdaringe opened #194 "feature request: npm profile"
i commonly like to share my "work" profile with people, which is generally my npm packages, https://www.npmjs.com/~cdaringe

it would be great to get npm on here!

it could be nice too, to keep file sizes down, to modularize the core package sites for those of us who are doing our own builds.  then, the dist/ could be the big everything-goes-in-here package, as is the status quo.  just spit-ballin

[2017-01-13 15:29] marcsoler commented on #173
Here's a pull request: #196

[2017-01-16 12:00] dbox commented on #194
Hey @cdaringe! RRRSSB is currently available vs npm: https://www.npmjs.com/package/rrssb/, however, like you stated we can do a lot to improve it, especially what gets delivered. v2 is set to do that but currently stalled out. Care to dive in and help?

[2017-01-16 12:00] dbox commented on #191
Hey @tomaszrondio. Thanks! Care to offer a PR to fix?

[2017-01-16 12:02] tomaszrondio commented on #191
I would if I could :) I am not sure what would be a fix here that is why I opened an issue instead of PR.

[2017-02-06 07:30] Gentimchenko opened #197 "Is it possible to add Viber and Odnoklassniki?"
Adding a sharing button for Viber and Odnoklassniki?
https://en.wikipedia.org/wiki/Odnoklassniki
https://en.wikipedia.org/wiki/Viber

[2017-02-15 09:53] netbull opened #198 "Google+ share gives "Invalid link" when trying to share"

[2017-02-20 16:43] #161 closed

[2017-02-20 16:47] #198 closed

[2017-02-20 16:48] #194 closed

[2017-02-20 16:49] dbox commented on #197
Probably wont add these in near future. Want to keep it to the most popular sites.

[2017-02-20 16:49] #197 closed

[2017-02-26 13:08] #118 closed

[2017-03-29 13:18] JustinGarner opened #200 "Social Sharing Buttons for Mobile"
https://github.com/kni-labs/rrssb

[2017-03-30 03:47] dbox commented on #200
This is the single most amazing issue I've ever seen.

[2017-04-04 21:29] jeffreyscottfrench opened #202 "SCSS - rrssb-border-radius variable used inconsistently"
Super small, but just used rrssb on a project and caught this:

SCSS: under .large-format li a border-radius is set to a hard value, not the variable/modified variable.

Also consider setting size changes via multiplication of the variable in order to keep variables set at zero to still compute to zero.

[2017-04-13 13:19] kayyyy opened #204 "Show What`s APP only on mobile Phones"
Is there a way to show the What`s APP Button only on mobile Phones? Because on Desktop`s it makes no sense.

Just setting `display:none` does not work because the JS Script is calculating the width of each List Element.

Does anybody has a little fix for this or a Tip how i could fix this Issue?

[2017-04-17 14:42] zorodimanche opened #205 "add reddit"

[2017-04-17 14:42] dbox commented on #205
reddit is there

[2017-04-17 14:42] #205 closed

[2017-04-17 14:51] zorodimanche commented on #205
Thank You @dbox

[2017-05-09 20:00] BillyG83 commented on #204
Change the the HTML of the containing div when on mobile with jQuery?

[2017-05-17 12:50] kicks66 opened #206 "Demo Instructions Causing huge icons + incorrect rendering"
I've been trying to implement the RRSSB icons for a while, following the instructions I created this basic piece of code:

[code]

Yet this creates the following rendering:

![screenshot 2017-05-17 13 50 05](https://cloud.githubusercontent.com/assets/4125092/26154531/c075547c-3b07-11e7-989f-5ee7cb113332.png)

I'm not sure what are the steps necessary to go from here to these properly working - it

[2017-05-17 14:57] dbox commented on #206
Did you include the css?

[2017-05-18 00:29] #206 closed

[2017-05-24 08:58] gomesNazareth opened #207 "If I try to share on google plus it says the link isn't valid."
If I try to share on google plus it says the link isn't  valid.This issue is happening even on the demo
https://www.rrssb.ml/

[2017-06-02 14:14] kicks66 commented on #206
The CSS is supplied here correct? <link rel="stylesheet" href="https://cdn.jsdelivr.net/rrssb/1.6.0/css/rrssb.css">

[2017-06-02 15:22] dbox commented on #206
yeah do you have that linked?

[2017-06-02 15:32] kicks66 commented on #206
Yes on the first line of the code in my original comment it is included as an external stylesheet

[2017-06-02 15:33] dbox commented on #206
is it in your header?

[2017-06-02 16:24] kicks66 commented on #206
Hi dbox,

Can you see the code I put in the original message? That is the full content of the page - the CSS file is at the top of the file (not within the header tag - but at the top of the page)

[2017-06-02 17:21] dbox commented on #206
Must be something with that CDN?

Code is good:
https://codepen.io/dbox/pen/LLYVQN

[2017-06-02 17:51] kicks66 commented on #206
In the code you just supplied - for each icon you have these SVGs:

`<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29 29"><path d="M26.4 0H2.6C1.714 0 0 1.715 0 2.6v23.8c0 .884 1.715 2.6 2.6 2.6h12.393V17.988h-3.996v-3.98h3.997v-3.062c0-3.746 2.835-5.97 6.177-5.97 1.6 0 2.444.173 2.845.226v3.792H21.18c-1.817 0-2.156.9-2.156 2.168v2.847h5.045l-.66 3.978h-4.386V29H26.4c.884 0 2.6-1.716 2.6-2.

[2017-06-02 17:53] kicks66 commented on #206
Ok I used the stylsheet internally and it works now. Is it worth updating the CDN in the instructions to one that works?

[2017-06-03 01:49] dbox commented on #206
Sure! Wanna PR that?

[2017-10-17 18:18] Mithrilhall opened #210 "Demo URL is not working"
The link to the demo isn't working. Domain expired?

[2017-10-19 15:40] dbox commented on #210
Hey! Good catch

I just updated readme to https://rrssb.netlify.com/

Would you like to do a PR to find and replace all other instances?

[2017-10-19 15:44] dbox commented on #210
https://github.com/kni-labs/rrssb-demo has a few places that need updating too.

[2017-10-19 18:52] Mithrilhall commented on #210
Thanks.

[2017-10-19 18:53] EstesE commented on #210
I'll try to do a PR later tonight.

[2017-10-19 18:53] dbox commented on #210
Great! Thanks!

[2017-10-19 20:56] EstesE commented on #210
PR created: [https://github.com/kni-labs/rrssb/pull/211](https://github.com/kni-labs/rrssb/pull/211)

[2017-10-29 23:31] cdemi opened #212 "Support Facebook Messenger Send"
Facebook Send Button Social Plugin: https://developers.facebook.com/docs/plugins/send-button/#configurator

[2017-11-05 18:46] arturbaranok opened #213 "Add social network odnoklassniki"
Good afternoon.

Can I add support for the social network Odnoklassniki?

API https://apiok.ru/ext/

[2017-11-13 12:30] dbox commented on #212
Hi Chris want to submit a PR for this?

On Sun, Oct 29, 2017, 6:31 PM Christopher Demicoli <notifications@github.com>
wrote:

[2017-11-13 12:31] dbox commented on #213
Hi not sure this is popular enough right now

[2017-11-13 12:31] #213 closed, assigned to nobody

[2017-12-14 04:31] mmautner opened #214 "Are share counts working?"
I'm testing out the 2.0 branch with a very simple configuration:

[code]

And am noticing the following:

<img width="1214" alt="screen shot 2017-12-13 at 8 29 06 pm" src="https://user-images.githubusercontent.com/1419652/33975622-761d14ea-e044-11e7-9e2a-000eee3393ef.png">

I suppose share counts broke after something changed about the Twitter API--is this library still aiming to support share cou

[2017-12-14 04:32] #214 closed, assigned to nobody

[2017-12-14 04:32] mmautner commented on #214
I'll just comment on #49

[2017-12-16 19:03] arubacao commented on #204
There is https://web.whatsapp.com/ and a native desktop version. The Whatsapp button makes a lot of sense for desktop browsers.

[2017-12-17 18:43] dbox commented on #204
Mobile media query?

On Sat, Dec 16, 2017, 1:03 PM arubacao <notifications@github.com> wrote:

[2018-04-02 17:06] ballios opened #215 "Adblock is realy blocking rrssb-buttons entirely!"
Adblock (the most popular Chrome extension) is realy blocking rrssb-buttons entirely!
And what we have to do?

[2018-04-02 17:06] dbox commented on #215
can you give some more information?

[2018-04-02 20:27] ballios commented on #215
What information? ))
You can just install Adblock in your browser and will see that all buttons have disappeared...
What a pity that this can not be avoided!

[2018-04-02 20:32] dbox commented on #215
More information meaning:
1. What adblocker are you using?
2. Can you produce a minimal working example?

Here's mine:

![screenshot 2018-04-02 15 29 51_preview](https://user-images.githubusercontent.com/296130/38214691-11569200-368b-11e8-976a-25750c346f9f.png)

[2018-04-02 22:03] ballios commented on #215
Hmm...
Dear sir, you are very simple, I guess... ))
Most of people turn "Antisocial filter list" (removes social media buttons) on - in Filter List of Adblock that you show me on your screenshot.
Turn that filter on and... the miracle of disappearance.

[2018-04-02 22:04] dbox commented on #215
Doesn't this answer your own question?

[2018-04-02 22:05] dbox commented on #215
I'd also assume most people do NOT change default settings, but hard to know without some sort of stats on it.

[2018-04-02 22:11] ballios commented on #215
Ok, leave it as is...

[2018-04-02 22:21] #215 closed, assigned to nobody

[2018-04-02 22:32] ballios opened #216 "Optimal script Usage"
Can you please explain to me this:

If I use Optional: Configure URL and share text with javascript:
[code]
then I can - not use this part "HREF" in:
`<a href="https://www.facebook.com/sharer/sharer.php?u=http://your-url-here" class="popup">`

[code]
And thus get such simple code like this:
```<li class="rrssb-facebook"><a href="#" class="popup"><span class="rrssb-icon"></span><span class="rrssb-t

[2018-09-16 00:30] jsmoriss opened #218 "Multiple ajax requests - adjust buttons only inside a div?"
Hey guys,

I'm using the buttons in a BuddyPress activity loop. They recently switched to ajax calls to fetch the content of each activity, and each activity content includes a set of RRSSB buttons (to share that specific activity). The buttons used to resize fine when it was a single page load, but now that each activity content (and set of buttons) is fetched individually by ajax, the buttons no

[2018-12-19 08:14] antikmozib commented on #207
you can't share links from localhost/

[2018-12-19 08:24] antikmozib opened #221 "Fixed height"
How do you change the height of the icons? The demo seems to step around this issue by including many buttons.

[2019-01-15 16:09] dlewand691 opened #222 "Link to current page instead of generic link"
Is there a simple way to share the current page rather than a generic link?

[2019-09-01 21:26] pointbre opened #224 "PDF icon"
Hi,

first of all, thanks very much for this project that I'm using in my personal blog.

Recently I'm trying to add a button to pdf converted for a certain post. I already created a new rrssb button with a text, which works fine. However, I've noticed it'd be better to put a svg icon too as the icon is used when being resized.

![image](https://user-images.githubusercontent.com/28047477/64082466-

[2020-06-27 09:47] bhavika162 opened #225 "Is it possible to add SMS ?"
This plugin is fine as per our need but we want one more option of sharing for "SMS" share

[2020-06-27 10:12] #225 closed, assigned to nobody

[2020-07-08 08:02] alijacob opened #226 "rrssb not detecting current url"
I am using this in Wordpress, but this does not detect  current url